<div class="container-fluid">
  <iframe style='position:fixed;display:none;top:-1px;left:-1px;' ng-src="{{detailFrame}}"></iframe>
  <div class="row pc-title-class" ng-if="pwmd.exibirTitulo">
    <div class="col-md-12 animated slideInRight">
      <div class="pull-left pc-title-class-icon">
        <i class="icon-icon_menu icon-icon_disc"></i>
      </div>
      <div class="pc-title-class-title-container">
        <p class="pc-title-class-title">Meus Documentos</p>
        <p class="pc-title-class-description">Faça download dos seus documentos a qualquer momento.
        </p>
      </div>
    </div>
  </div>
  <!--Gif de carregando-->
  <img ng-if="pwmd.loading && pwmd.loadingGif" ng-src="{{pwmd.loadingGif}}" class="loading"/>
  <div class="list-group meusdocumentos-list animated slideInRight">
    <a ng-click="pwmd.impostoDeRenda()" class="list-group-item">
      <i class="icon-icon_financa icon-left"></i>
      <p class="list-group-item-heading">
        Imposto de Renda
      </p>
    </a>
    <a ng-click="pwmd.geraPdfPlanoPagamento()" class="list-group-item animated slideInRight">
      <i class="icon-icon_aula icon-left"></i>
      <p class="list-group-item-heading">
        Plano de Pagamento
      </p>
    </a>
    <a ng-if="pwmd.resultTabelaPreco && pwmd.resultTabelaPreco"
       ng-click="pwmd.tabelaPreco()" class="list-group-item animated slideInRight">
      <i class="icon-icon_arc icon-left"></i>
      <p class="list-group-item-heading">
        Tabela de Preços
      </p>
    </a>
    <a ng-if="pwmd.manualDoAluno.id_upload" class="list-group-item"
       ng-href="{{pwmd.CONFIG.urlG2}}upload/manual/{{pwmd.manualDoAluno.st_upload}}"
       download="{{pwmd.CONFIG.urlG2}}upload/manual/{{pwmd.manualDoAluno.st_upload}}" target="_blank">
      <i class="icon-icon_livro icon-left animated slideInRight"></i>
      <p class="list-group-item-heading">
        Manual do Aluno
      </p>
    </a>
    <a ng-repeat="contrato in pwmd.contratos" ng-if="contrato.id_situacao" ng-title="{{contrato.st_contrato}}"
       download="{{pwmd.CONFIG.urlG2 + contrato.url}} "
       ng-href="{{pwmd.CONFIG.urlG2 + contrato.url}}" class="list-group-item animated slideInRight">
      <i class="icon-icon_aulas icon-left"></i>
      <p class="list-group-item-heading">
        {{contrato.st_contrato }}
      </p>
    </a>
    <a ng-if="pwmd.agendamentoComprovante" class="list-group-item list-group-item-agendamento"
       ng-click="pwmd.abrirComprovanteAgendamento()">
      <i class="icon-icon_data icon-left animated slideInRight"></i>
      <p class="list-group-item-heading">
        Agendamento de Prova <br/>
        <small>
          {{pwmd.agendamentoComprovante.dt_aplicacao | date: "dd 'de' MMMM 'de' yyyy"}}
        </small>
      </p>
    </a>

    <a ng-if="pwmd.bl_minhasprovas" ng-click="pwmd.vistaDeProva()" class="list-group-item">
    <i class="icon-icon_aulas icon-left"></i>
    <p class="list-group-item-heading">
      Minhas Provas
    </p>
    </a>
  </div>
</div>
