@import "../../../scss/common"; // Talvez você precise alterar este destino
.sidebar-active {
  border-left: 4px solid $branco;
  background-color: rgba(153,153,153, 0.2);
}
.navbar-custom .navbar-nav > li:first-child {
   height: auto;
}

.span-super {
  width: 18px;
  height: 20px;
  display: inline-block;
  padding: 4px 1px;
  color: #fff;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 13px;
  text-shadow: none;
  line-height: 9px;
  background-color: #e85656;
  position: absolute;
  top: 2px;
  right: 2px;
}

.span-number {
  display: inline-block;
  padding: 4px 1px;
  color: #fff;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  text-shadow: none;
  line-height: 9px;
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 11px;
}

ul#navbar li a.hide-badges-full{
  display:none;
}


ul#navbar li a.hide-badges-small {
  display:none;
}