<div class="padding-left padding-right">
  <h1>Biblioteca Virtual</h1>

  <div ng-if="vm.status != 1">
    {{vm.status}}
  </div>
  <form action="{{vm.integracao.st_caminho}}" method="post" target="_blank" ng-if="vm.status == 1">
    <input type="hidden" name="login" value="{{vm.integracao.st_usuario}}"/>
    <input type="hidden" name="token" value="{{vm.integracao.st_login}}"/>

    Você será redirecionado automaticamente, caso isso não aconteça, clique

    <button class="btn btn-primary btn-inverse btn-xs" type="submit">
      aqui
    </button>
  </form>
</div>
