<div class="row-list row">
  <div class="scroll-wrapper col-md-12">
    <p class="text-center" ng-show="!vm.loading && vm.promocoes.length == 0" >Você não possui promoções.</p>
    <perfect-scrollbar class="scroll-wrapper ">
      <div class="list-group">
        <div class="lista-campanha list-group-item "  ng-repeat="campanha in vm.promocoes"
          ng-click="vm.visualizarCampanhaComercial($event, campanha)" ui-sref="app.promocoes.show({ id_campanhacomercial: campanha.id_campanhacomercial })"
          ng-class="{marked : vm.activeId === campanha.id_campanhacomercial, 'not-read' : campanha.bl_visualizado === false }" target="_parent">
          <div class="animated slideInRight maxheight no-padding no-margin">
            <p class="list-group-item-heading">
              {{ campanha.st_campanhacomercial }}
            </p>
            <p class="list-group-item-text" ng-if="campanha.st_descricao" ng-bind-html="campanha.st_descricao">

            </p>
            <p class="list-group-item-heading">
              <small class="number">{{campanha.dt_inicio.date | asDate : 'MMMM/yy'}}</small>
            </p>
          </div>
      </div>
  </div>
  </perfect-scrollbar>
</div>
</div>
