<div class="container-fluid no-padding scroll-wrapper" id="content-principal-cursos">
  <div class="col-md-4 col-sm-4 col-lg-4 scroll-wrapper">
  <pw-disciplina-descricao ng-if="vm.sala" disciplina="vm.sala"></pw-disciplina-descricao>
</div>
<div class="col-md-4 col-sm-4 col-lg-4 scroll-wrapper">
  <perfect-scrollbar class="scroll-wrapper">

    <div class="row">
      <div class="col-md-12 scroll-wrapper">
        <pw-disciplina-andamento ng-if="vm.sala" id-matricula="vm.MatriculaAtiva.id_matricula" id-entidade="vm.MatriculaAtiva.id_entidade" id-saladeaula="vm.idSalaDeAula" sala="vm.sala"></pw-disciplina-andamento>
      </div>
    </div>
    <div class="row">
      <pw-moodle-course-contents id-curso="vm.sala.st_codsistemacurso" id-matricula="vm.MatriculaAtiva.id_matricula" ng-if="vm.sala.st_codsistemacurso" id-saladeaula="vm.idSalaDeAula"></pw-moodle-course-contents>
    </div>
  </perfect-scrollbar>
</div>
<div class="col-md-4 col-sm-4 col-lg-4 scroll-wrapper">
  <div class="row row-recent-activity">
      <div class="col-md-12 scroll-wrapper">
        <pw-moodle-recent-activity id-curso="vm.sala.st_codsistemacurso" id-matricula="vm.MatriculaAtiva.id_matricula" ng-if="vm.sala.st_codsistemacurso" id-saladeaula="vm.idSalaDeAula"></pw-moodle-recent-activity>
      </div>
  </div>
</div>
</div>
