@import "../../../scss/common"; // Talvez você precise alterar este destino
.temp-col3{
  border-top: solid 5px $cor-marca-3;
  background-color: $cinza-2;

}
.temp-col1{
  border-top: solid 5px $cor-marca-9;
  background-color: $cinza-1;

}

.row-recent-activity {
  height: 100%;
}
