<img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading" />
<div class="grade-nota">

  <div class="row row-eq-height grade-notas-header">

    <div class="col-xs-1 col-xs-offset-1">
      <i class="icon icon-icon_nota"></i>
    </div>

    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <h1>Grade de Notas</h1>
          <p>Acompanhe os seus resultados nas disciplinas.</p>
        </div>
      </div>
    </div>

    <div ng-if="vm.stringsLegenda" class="grade-notas-legenda col-xs-2 col-xs-offset-2">
      <table class="table table-condensed">
        <tr ng-repeat="(legenda, prop) in vm.stringsLegenda">
        <td ng-class="prop.classeLegenda"><small>{{legenda}}</small></td>
        <td ng-class="[prop.classeCor, 'empty-cell']">&nbsp;</td>
      </tr>
    </table>
  </div>

</div>

<div class="row">

  <div ng-repeat="(modulo, objDisciplinasModulo) in vm.notas">

    <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

      <table pw-responsive-table class="table grade-notas-table">
        <thead>
          <!-- IF + de um módulo. -->
          <tr ng-if="modulo !== '' && vm.exibirGrade.graduacao">
            <!--  Ajusta dinamicamente o colspan para que a descrição do módulo
            tenha o exato tamanho da tabela. -->
            <td colspan="{{vm.exibirGrade.graduacao ? 7 : 5}}">
              {{objDisciplinasModulo.st_modulo}}
            </td>
          </tr>
          <tr>
            <th>
              <span class="text-center" ><i class="icon icon-icon_aula"></i>Disciplina</span>
            </th>

            <th>
              <span class="text-center">Prova<br/>Presencial</span>
            </th>

            <th ng-if="vm.exibirGrade.graduacao">
              <span class="text-center">Oficina</span>
            </th>

            <!-- Aumenta a celula se tiver prr e não for graduação -->
            <th colspan="{{(objDisciplinasModulo.temNotaPrrEad && !vm.exibirGrade.graduacao) ? 2 : 1}}">
              <span class="text-center">Atividade<br>EAD</span>
            </th>

            <!-- Aumenta a celula se tiver prr e nãoi for graduação -->
            <th ng-if="!vm.exibirGrade.graduacao && objDisciplinasModulo.temNotaTcc"
            colspan="{{(objDisciplinasModulo.temNotaPrrTcc && !vm.exibirGrade.graduacao) ? 2 : 1}}">
            <span  class="text-center">TCC</span>
          </th>

          <th ng-if="vm.exibirGrade.graduacao">
            <span class="text-center">Prova Final</span>
          </th>

          <th>
            <span class="text-center"><strong>Final</strong></span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="disciplina in objDisciplinasModulo.disciplinas | orderBy: ['id_tipodisciplina', 'dt_abertura.date'] " ng-class="vm.getClasseCor(disciplina)" >
          <td data-title="Disciplina"  >
            <div class="row">
              <div>
              <div ng-if="(disciplina.st_notaead == '-' || disciplina.st_notaead == 0) && (disciplina.st_notaead_prr == '-' || disciplina.st_notaead_prr == 0)">{{disciplina.st_tituloexibicaodisciplina}}</div>
              <div ng-if="disciplina.st_notaead > 0 || disciplina.st_notaead_prr > 0">
                <a ui-sref="app.grade-notas-detalhamento({idMatriculaAtiva: vm.$state.params.idMatriculaAtiva, idDisciplina: disciplina.id_disciplina})" target="_self" uib-tooltip="Clique para detalhar a nota em {{disciplina.st_tituloexibicaodisciplina}}">{{disciplina.st_tituloexibicaodisciplina}}</a>
              </div>
            </div>
          </td>

          <td data-title="Prova Presencial">
            <div class="nota-container" ng-if="disciplina.st_avaliacaofinal">
              {{vm.formataNota(disciplina.st_notafinal)}}
            </div>
          </td>

          <td data-title="Oficina" ng-if="vm.exibirGrade.graduacao">
            <div class="nota-container" ng-if="disciplina.st_avaliacaoatividade">
              {{vm.formataNota(disciplina.st_notaatividade)}}
            </div>
          </td>
          <td data-title="Atividade EAD">
            <div class="nota-container" ng-if="disciplina.st_avaliacaoead">
              {{vm.formataNota(disciplina.st_notaead)}}
            </div>
          </td>

          <td data-title="Atividade EAD Prr"  ng-if="objDisciplinasModulo.temNotaPrrEad && !vm.exibirGrade.graduacao" ng-class="{'amarelo' : disciplina.st_notaead_prr}" >
            <div class="nota-container"  ng-if="disciplina.st_notaead_prr">
              <span >
              {{vm.formataNota(disciplina.st_notaead_prr)}}
              </span><div class="prr"><span>*</span></div>
            </div>
          </td>


          <td data-title="Atividade TCC"  ng-if="!vm.exibirGrade.graduacao && objDisciplinasModulo.temNotaTcc">
            <div class="nota-container" ng-if="disciplina.id_tiponotatcc">
              {{vm.formataNota(disciplina.st_notatcc)}}&nbsp;&nbsp;
            </div>
          </td>

          <td data-title="Atividade TCC PRR"  ng-if="objDisciplinasModulo.temNotaPrrTcc && !vm.exibirGrade.graduacao"     ng-class="{'amarelo' : disciplina.st_notatcc_prr}">
            <div class="nota-container"  ng-if="disciplina.st_notatcc_prr">
              {{vm.formataNota(disciplina.st_notatcc_prr)}}<div class="prr"><span>*</span></div>
            </div>
          </td>

          <td data-title="Prova Final"      ng-if="vm.exibirGrade.graduacao">
            <div class="nota-container">
              {{vm.exibeNotaFinal(disciplina.st_notarecuperacao)}}
            </div>
          </td>

          <td data-title="Final">
            <div class="nota-container">
              <span>{{vm.exibeNotaFinal(disciplina)}}</span>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
    <!-- Mostra se tiver prr e nãoi for graduação -->
    <div class="legenda-prr" ng-if="(objDisciplinasModulo.temNotaPrrEad || objDisciplinasModulo.temNotaPrrTcc) && !vm.exibirGrade.graduacao">
      <small>* Nota do Programa de Resgate e Recuperação</small>

    </div>
  </div>

  <div class="col-xs-2"></div>

</div>
</div>
</div>
