@import "../../../scss/common"; // Talvez você precise alterar este destino
.grade-nota {
  .prr {
    position: relative;
    top: -21px;
    right: -8px;
  }
  .prr> :first-child {
    position: absolute
  }
  //Classes para colorir os ítens da coluna de nota final.
  .vermelho {
    color: $vermelho-txt;
    border-bottom: 1px solid $vermelho-txt;
    background-color: $vermelho-bg;
    td {
      border-bottom: 1px solid $vermelho-txt;
      border-top: 1px solid $vermelho-txt;
    }
  }
  .verde {
    color: $verde-txt;
    border-bottom: 1px solid $verde-txt;
    border-top: 1px solid $verde-txt;
    background-color: $verde-bg;
    td {
      border-bottom: 1px solid $verde-txt;
      border-top: 1px solid $verde-txt;
    }
  }
  .azul {
    color: $azul-txt;
    border-bottom: 1px solid $azul-txt;
    background-color: $azul-bg;
    td {
      border-bottom: 1px solid $azul-txt;
      border-top: 1px solid $azul-txt;
    }
  }
  .amarelo {
    color: $amarelo-txt;
    // border-bottom: 1px solid $amarelo-txt;
  }
  //Classes para colorir a tabela com a legenda das cores.
  .vermelho-legenda {
    color: $vermelho-txt;
    background-color: $vermelho-bg-light;
  }
  .azul-legenda {
    color: $azul-txt;
    background-color: $azul-bg-light;
  }
  .verde-legenda {
    color: $verde-txt;
    background-color: $verde-bg-light;
  }
  .amarelo-legenda {
    color: $amarelo-txt;
    background-color: $amarelo-bg-light;
  }
  .prr-tag {
    border: 3px solid red;
    border-radius: 3px;
    font-size: 10px;
    background-color: red;
    color: #FFFFFF;
    margin-top: 3px;
  }
  .divisoria-nota-prr {
    border-top: 1px solid $texto-tabela;
    width: 60px;
    margin-top: 3px;
    margin-bottom: 3px;
    align-self: center;
  }
  .nota-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nota-prr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  .empty-cell {
    width: 25px !important;
  }
  .grade-notas-table {
    border: 1px solid $icone-desc-disciplina;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    thead {
      th>span {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      tr {
        th {
          span {
            font-weight: normal;
            .icon-icon_aula,
            .icon-icon_nota,
            .icon-icon_time {
              font-size: 30px;
              padding: 5px;
            }
            .icon-circulo_grafico {
              font-size: 20px;
              padding: 5px;
            }
          }
        }
      }
    }
    tbody {
      color: $texto-tabela;
      background-color: $tabela-background;
      @media only screen and (min-width: 800px) {
        tr > td:not(:first-child) {
          // color: red;
        }
        tr>td:first-child {
          text-align: left;
        }
        tr>td {
          vertical-align: middle;
        }
      }
      /* Ajustes para a exibição responsiva da grade de notas.*/
      @media only screen and (max-width: 800px) {
        tr>td {
          font-size: 12px;
          text-align: center;
          vertical-align: center;
        }
      }
      @media only screen and (max-width: 300px) {
        tr>td {
          font-size: 10px;
        }
      }
      // Alinhamento do ícone e descrição da disciplina.
      tr {
        td {
          div:first-child {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  .grade-notas-header {
    margin-top: 25px;
    h1 {
      font-size: 16px;
    }
    p {
      font-size: 11px;
    }
    .icon-icon_nota {
      font-size: 60px;
      font-size: 5vw;
    }
  }
  .grade-notas-legenda {
    table {
      tbody {
        tr {
          td:first-child {
            width: 20px;
          }
        }
      }
    }
  }
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .legenda-prr {
    margin-bottom: 15px;
  }
}
