<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="modalReabrirCtrl.closeModalReabrirChamado()"><span aria-hidden="true" ng-click="$ctrl.cancel()">&times;</span></button>
    <h4 class="modal-title">{{$ctrl.title}}</h4>
  </div>
  <div class="modal-body">
    <p>{{$ctrl.question}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="$ctrl.close()">{{$ctrl.okText}}</button>
    <button ng-if="$ctrl.showCancelButton" type="button" class="btn btn-default" ng-click="$ctrl.cancel()">{{$ctrl.cancelText}}</button>
  </div>
</div>

