@import "../../../scss/common";
@import "../../../scss/customize/variables";

.pc-financeiro-title-box {
  padding: 10px 10px 10px 15px;

  .pc-financeiro-title-label {
    font-size: ceil(($font-size-base * 0.7));
    font-weight: bolder;
  }

  .pc-financeiro-title-description {
    font-size: $font-size-base;
    color: $cinza-6;
  }
}

.pc-financeiro-lancamento {
  background-color: $cor-marca-13;
  min-height: 60px;
  padding: 10px;
  text-align: center;

  .pc-financeiro-date {
    font-size: $font-size-base;
  }

  .pc-financeiro-value {
    font-size: $font-size-large;
  }
}

.pc-financeiro-linha-digitavel {
  padding: 15px;
  text-align: center;
  font-size: $font-size-h3;
}

.pc-lancamento-1 {
  background-color: $panel-success-heading-bg;
}

.pc-lancamento-2 {
  background-color: $panel-info-heading-bg;
}

.pc-lancamento-3 {
  background-color: $panel-danger-heading-bg;
}
