<div class="container-fluid nopadding">
  <div class="col-xs-12">
    <div class="row pc-title-class">
      <div class="col-xs-12 col-sm-8 nopadding">
        <div class="pull-left pc-title-class-icon"><i class="icon-icon_menu icon-icon_financa"></i></div>
        <div class="pc-title-class-title-container">
          <p class="pc-title-class-title">Financeiro</p>
          <p class="pc-title-class-description">Acompanhe suas informações financeiras. </p>
          <p class="pc-title-class-description"> </p>
        </div>
      </div>
    </div>

    <div class="row" ng-if="vm.loading && vm.loadingGif">
      <div class="col-lg-12">
        <img ng-src="{{vm.loadingGif}}" class="loading"/>
      </div>
    </div>

    <div ng-show="!vm.loading && vm.lancamento">
      <div class="row">
        <div class="col-lg-12 col-md-12 no-padding">
          <div class="pc-financeiro-title-box">
            <span class="pc-financeiro-title-label">Produto contratado:</span><br>
            <span class="pc-financeiro-title-description">{{vm.lancamento.st_curso}}</span>
          </div>
          <div class="pc-financeiro-lancamento pc-lancamento-{{vm.lancamento.id_statuslancamento}}">
                        <span class="pc-financeiro-date">
                            {{vm.lancamento.dt_vencimento | date : "dd"}} de {{vm.lancamento.dt_vencimento | date : "MMMM"}} de {{vm.lancamento.dt_vencimento | date : "yyyy"}}
                        </span>
            <br>
            <span class="pc-financeiro-value">R$ {{vm.lancamento.nu_valor}}</span>
          </div>


          <div class="pc-financeiro-linha-digitavel">
            <p
              ng-show="vm.boleto.st_situacao == 'Pendente' && vm.boleto && vm.lancamento.bl_quitado == false && vm.lancamento.id_statuslancamento!=vm.StatusLancamentoConstante.PAGO">
              {{vm.boleto.st_codigobarras}}
            </p>
            <p
              ng-if="vm.lancamento.bl_quitado == true && vm.lancamento.id_statuslancamento == vm.StatusLancamentoConstante.PAGO">
              Parcela paga
            </p>

            <button
              ng-if="vm.lancamento.bl_quitado == true && vm.lancamento.id_statuslancamento == vm.StatusLancamentoConstante.PAGO"
              class="btn btn-primary" ng-click="vm.getRecibo(vm.lancamento)" >
              Emitir Recibo
            </button>
            <button
              ng-if="vm.lancamento.bl_quitado == false && vm.lancamento.id_statuslancamento!= vm.StatusLancamentoConstante.PAGO && vm.boleto && (!vm.lancamento.st_urlboleto || vm.boleto.st_situacao == 'Vencido')"
              class="btn btn-primary"
              ng-click="vm.emitirDadosBoleto(vm.id_lancamento, 'emitirboleto', vm.lancamento.id_venda)">
              {{vm.labelBtGerarBoleto}}
            </button>

            <a
              ng-if="vm.lancamento.bl_quitado == false && vm.lancamento.id_statuslancamento!= vm.StatusLancamentoConstante.PAGO && vm.boleto && vm.lancamento.st_urlboleto && vm.boleto.st_situacao == 'Pendente'"
              class="btn btn-primary"
              ng-href="{{ vm.lancamento.st_urlboleto }}" target="_blank">
              {{vm.labelBtGerarBoleto}}
            </a>

            <!--Verificando o atributo que é retornado da vw que informa se é cartão recorrente,
            No portal antigo essa verifição também considerava se o id da venda da matricula ativa era o mesmo do
            lancamento.-->
            <a href="{{vm.lancamento.st_urlloja}}/pagamento/mudar-cartao-recorrente/id_venda/{{vm.lancamento.id_venda}}"
               target="_blank"
               ng-if="vm.lancamento.bl_recorrente"
               class="btn btn-primary"  tooltip-placement="top" uib-tooltip="Clique para fazer a troca do cartão utilizado no seu pagamento">
              Atualizar Informações Para Pagamento
            </a>

            <div ng-show="vm.showMsgPopup" class="alert alert-warning" role="alert">{{vm.showMsgPopup}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pc-financeiro-list do-refresh="vm.doRefresh" parcelas="vm.lancamentos" ng-if="vm.lancamentos"></pc-financeiro-list>
