@import "../../../scss/common"; // Talvez você precise alterar este destino
@import "../../../scss/customize/variables";
@import "~ng-img-crop/compile/minified/ng-img-crop.css";

.cropArea {
  overflow: hidden;
  width:100%;
  height:350px;
}

.img-crop {

  canvas {
    position: relative;
    top: 0px;
    left: 0px;
  }
}


.meus-dados{
  .img_avatar{
    width: 110px;
    height: 110px;
  }
  .pc-title-class-title-container{
    margin: 24px 0px 0px 130px;
  }
}

.user-details {
  padding: 0;
}

.user-details .user-image {
  //text-align: center;
}

.user-image img {
  clear: both;
  margin: auto;
  position: relative;
}

.user-details .user-info-block {
  padding-top: 10px;
}

.user-info-block .user-heading {
  width: 100%;
  text-align: center;
  margin: 10px 0 0;
}

.user-info-block .navigation {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid $brand-info;
  border-bottom: 1px solid $brand-info;
}

.navigation li {
  float: left;
  margin: 0;
  padding: 0;
}

.navigation li a {
  padding: 20px 30px;
  float: left;
  color: $brand-info;
}

.navigation li.active a {
  background: $brand-info;
  color: $branco;
}

.user-info-block .user-body {
  float: left;
  padding: 25px;
}

.user-body .tab-content > div {
  float: left;
  width: 100%;
}

.user-body .tab-content h4 {
  width: 100%;
  margin: 10px 0;
  color: $gray-dark;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

