<script type="text/ng-template" id="userAvatarModal.html">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">Selecione sua Imagem</h5>
  </div>
  <div class="modal-body" id="modal-body">
    <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
      <img-crop image="vm.picFile  | ngfDataUrl" result-image="vm.croppedDataUrl" ng-init="vm.croppedDataUrl=''"></img-crop>
    </div>
  </div>
  <div class="modal-footer">
    <button ngf-select ng-model="vm.picFile" accept="image/*" class="btn btn-info pull-left">Selecionar Imagem</button>
    <button class="btn btn-warning" ng-disabled="vm.uploading" type="button" ng-click="vm.uploadCancel()">Cancelar</button>
    <button class="btn btn-primary" ng-disabled="!vm.picFile" type="button" ng-click="vm.startUpload(vm.croppedDataUrl, vm.picFile.name)">
      Enviar
    </button>
  </div>
</script>

<div class="container-fluid padding meus-dados">
    <div class="row pc-title-class">
        <div class="col-md-12">
            <div class="pc-avatar-class-container col-md-1">
              <img ng-click="vm.openAvatarModal()" ng-src="{{vm.croppedDataUrl}}" alt="" class="text-center img-circle img_avatar"
                   ng-if="vm.croppedDataUrl" uib-tooltip="Clique para trocar/enviar seu avatar" tooltip-placement="right"/>
              <img ng-click="vm.openAvatarModal()" ng-src="{{vm.st_urlavatar}}" alt="" class="glyphicon text-center img-circle img_avatar"
                   ng-if="vm.st_urlavatar && !vm.croppedDataUrl" uib-tooltip="Clique para trocar/enviar seu avatar" tooltip-placement="right"/>
              <span ng-click="vm.openAvatarModal()" class="glyphicon icon-icon_pessoa2 avatar-fake text-center img-circle img_avatar"
                    ng-if="!vm.st_urlavatar && !vm.croppedDataUrl" uib-tooltip="Clique para trocar/enviar seu avatar" tooltip-placement="right">
              </span>
              <span  ng-click="vm.openAvatarModal()" uib-tooltip="Clique para trocar/enviar seu avatar" tooltip-placement="right">
                  <p class="pc-avatar-class-title text-center">Troque seu avatar</p>
              </span>
            </div>
            <div class="pc-title-class-title-container">
                <p class="pc-title-class-title">Meus Dados</p>
                <p class="pc-title-class-description">Mantenha os seus dados cadastrais sempre atualizados.</p>
                <p class="pc-title-class-description"></p>
            </div>
        </div>
    </div>

    <h3 class="">Dados Cadastrais</h3>
  <form name="frmDadosCadastrais" id="frmDadosCadastrais" ng-submit="vm.salvarDados()">
    <div class="row row-gutter">

          <div class="col-md-6">
              <div class="row row-gutter">
                  <div class="col-md-12">


                          <div class="form-group">
                              <label>Nome</label>
                              <input disabled class="form-control" ng-model="vm.dadosUsuario.st_nomecompleto">
                          </div>
                          <div class="form-group">
                              <label>Identidade:
                              </label>
                              <input disabled class="form-control" ng-model="vm.dadosUsuario.st_rg"/>
                          </div>
                          <div class="form-group">
                              <label>Orgão Emissor:
                              </label>
                              <input disabled class="form-control" ng-model="vm.dadosUsuario.st_orgaoexpeditor"/>
                          </div>

                  </div>
              </div>
          </div>
          <div class="col-md-6">

                  <div class="form-group">
                      <label>E-mail</label>
                      <input disabled class="form-control" ng-model="vm.dadosUsuario.st_email"/>
                  </div>
                  <div class="form-group">
                      <label>CPF:
                      </label>
                      <input disabled class="form-control" ng-model="vm.dadosUsuario.st_cpf" ui-br-cpf-mask/>
                  </div>
                  <div class="form-group">
                      <label>Telefone:</label>
                      <input class="form-control" ng-model="vm.dadosUsuario.telefone" required="required" ui-br-phone-number/>
                  </div>

          </div>
      </div>

    <div class="row row-gutter">

        <div class="col-md-6">
              <h6><i class="icon icon-icon_edit"></i> Endereço Residencial</h6>
              <div class="row row-gutter">
                <div class="form-group col-md-4">
                  <label>CEP:</label>
                  <input required="required" pattern="\d{5}-\d{3}" class="form-control" ng-model="vm.dadosUsuario.st_cep"
                         ng-change="vm.buscaCep(vm.TipoEndereco.RESIDENCIAL)" ui-br-cep-mask/>
                </div>
                <div class="form-group col-md-8">
                  <label>Endereço:</label>
                  <input required="required" class="form-control" ng-model="vm.dadosUsuario.st_endereco" maxlength="250"/>
                </div>
              </div>

                <div class="row row-gutter">
                    <div class="form-group col-md-4">
                        <label>Número:</label>
                        <input maxlength="8" min="1" required="required" class="form-control" ng-model="vm.dadosUsuario.nu_numero"/>
                    </div>
                    <div class="form-group col-md-8">
                        <label>Complemento:</label>
                        <input class="form-control" ng-model="vm.dadosUsuario.st_complemento" maxlength="250"/>
                    </div>
                </div>

              <div class="row row-gutter">
                <div class="form-group col-md-4">
                  <label>UF:</label>
                  <select id="sg_uf" class="form-control"
                          required="required"
                          ng-change="vm.buscarMunicipios(vm.TipoEndereco.RESIDENCIAL)"
                          ng-model="vm.dadosUsuario.sg_uf"
                          ng-options="item.sg_uf as item.sg_uf for item in vm.ufs">
                  </select>
                </div>
                <div class="form-group col-md-8">
                  <label>Cidade:</label>
                  <select id="id_municipio" class="form-control"
                          required="required"
                          ng-model="vm.dadosUsuario.id_municipio"
                          ng-options="item.id_municipio as item.st_nomemunicipio for item in vm.municipios">
                  </select>
                </div>
              </div>

              <div class="row row-gutter">
                <div class="form-group col-md-4">
                  <label>Bairro:</label>
                  <input required="required" class="form-control" ng-model="vm.dadosUsuario.st_bairro" maxlength="250"/>
                </div>
                <div class="form-group col-md-8">
                  <label>País:</label>
                  <select id="id_pais" class="form-control"
                          required="required"
                          ng-model="vm.dadosUsuario.id_pais"
                          ng-options="item.id_pais as item.st_nomepais for item in vm.paises">
                  </select>
                </div>
              </div>

        </div>
        <div class="col-md-6">
          <h6><i class="icon icon-icon_edit"></i>Endereço Correspondência Padrão</h6>
          <div class="row row-gutter">
            <div class="form-group col-md-4">
              <label>CEP:</label>
              <input required class="form-control" pattern="\d{5}-\d{3}" ng-model="vm.dadosUsuarioEndereco.st_cep"
                     ng-change="vm.buscaCep(vm.TipoEndereco.CORRESPONDENCIA)" ui-br-cep-mask/>
            </div>
            <div class="form-group col-md-8">
              <label>Endereço:</label>
              <input required class="form-control" ng-model="vm.dadosUsuarioEndereco.st_endereco" maxlength="250"/>
            </div>
          </div>

          <div class="row row-gutter">
            <div class="form-group col-md-4">
              <label>Número:</label>
              <input maxlength="8" min="1" required class="form-control" ng-model="vm.dadosUsuarioEndereco.nu_numero"/>
            </div>
            <div class="form-group col-md-8">
              <label>Complemento:</label>
              <input class="form-control" ng-model="vm.dadosUsuarioEndereco.st_complemento" maxlength="250"/>
            </div>
          </div>

          <div class="row row-gutter">
              <div class="form-group col-md-4">
                <label>UF:</label>
                <select required id="sg_uf_endereco" class="form-control"
                        ng-change="vm.buscarMunicipios(vm.TipoEndereco.CORRESPONDENCIA)"
                        ng-model="vm.dadosUsuarioEndereco.sg_uf"
                        ng-options="item.sg_uf as item.sg_uf for item in vm.ufsCorrespondencia">
                </select>
              </div>
              <div class="form-group col-md-8">
                <label>Cidade:</label>
                <select required id="id_municipio_endereco" class="form-control"
                        ng-model="vm.dadosUsuarioEndereco.id_municipio"
                        ng-options="item.id_municipio as item.st_nomemunicipio for item in vm.municipiosCorrespondencia">
                </select>
              </div>
          </div>

          <div class="row row-gutter">
            <div class="form-group col-md-4">
              <label>Bairro:</label>
              <input required class="form-control" ng-model="vm.dadosUsuarioEndereco.st_bairro" maxlength="250"/>
            </div>
            <div class="form-group col-md-8">
              <label>País:</label>
              <select required id="id_pais_endereco" class="form-control"
                      ng-model="vm.dadosUsuarioEndereco.id_pais"
                      ng-options="item.id_pais as item.st_nomepais for item in vm.paises">
              </select>
            </div>
          </div>
        </div>

        <div class="row" ng-if="vm.modelUserAlterado > 1 || vm.modelUserEndereco > 1">
          <div class="form-group">
            <button type="submit" class="btn btn-success pull-right" ladda="vm.meusdadosLoading">
              Alterar Dados
            </button>
          </div>
        </div>

    </div>
  </form>
    <span id="helpBlock" class="help-block">Para a alteração de dados cadastrais é necessário a abertura de um atendimento.</span>
    <div class="row">
        <div class="col-md-12">
            <form novalidate ng-submit="vm.alteraSenha()" name="formAlteraSenha" id="formAlteraSenha">
                <h3>Alterar Senha</h3>
                <div class="row row-gutter">

                    <div class="form-group col-md-6">
                        <label>Nova senha</label>
                        <input class="form-control" ng-model="vm.user.senha" type="password" name="senha" id="senha"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Confirme a senha</label>
                        <input class="form-control" ng-model="vm.user.confirmaSenha" type="password"
                               name="confirmaSenha" required id="confirmaSenha">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success pull-right" ladda="vm.meusdadosLoading">
                        Alterar
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
