<img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading"/>
<div class="grade-nota">

  <div class="row row-eq-height grade-notas-header">

    <div class="col-xs-1 col-xs-offset-1">
      <i class="icon icon-icon_nota"></i>
    </div>

    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <h1>Grade de Notas - Detalhamento</h1>
          <p>Acompanhe aqui o detalhamento de suas atividades nesta disciplina.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div ng-if="vm.erro" class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="alert alert-danger" role="alert">
        {{ vm.erro }}
      </div>
    </div>

    <div ng-if="vm.alerta" class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="alert alert-warning" role="alert">
        {{ vm.alerta }}
      </div>
    </div>

    <div ng-repeat="(modulo, objDisciplinasModulo) in vm.notas">

      <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

        <table pw-responsive-table class="table grade-notas-table">
          <thead>
          <tr>
            <th>
              <span class="text-center"><i class="icon icon-icon_aula"></i> {{ objDisciplinasModulo.disciplinas[0].st_tituloexibicaodisciplina }}</span>
            </th>
            <th>
              <span class="nota-container">Notas</span>
            </th>
          </tr>
          </thead>

          <tbody>

          <tr ng-if="vm.exibeNotaFinal(objDisciplinasModulo.disciplinas[0]) && vm.exibeNotaFinal(objDisciplinasModulo.disciplinas[0]) != '-'">
            <td>
              <div><strong>Nota Final</strong></div>
            </td>
            <td>
              <div class="nota-container">
                <strong>{{vm.exibeNotaFinal(objDisciplinasModulo.disciplinas[0])}}</strong>
              </div>
            </td>
          </tr>

          <tr ng-if="objDisciplinasModulo.disciplinas[0].st_notaead_prr && objDisciplinasModulo.disciplinas[0].st_notaead_prr != '-'">
            <td>
              <div><strong>Nota EAD PRR</strong></div>
            </td>
            <td>
              <div class="nota-container">
                <strong>{{vm.formataNota(objDisciplinasModulo.disciplinas[0].st_notaead_prr)}}</strong>
              </div>
            </td>
          </tr>
          <tr ng-repeat="notasmoodlePrr in objDisciplinasModulo.disciplinas[0].ar_notasmoodle_prr" ng-if="!$first">
            <td>
              <div ng-if="$first">Total na Disciplina EAD Prr</div>
              <div ng-if="!$first">&nbsp;&nbsp;&nbsp;&nbsp;Atividade:&nbsp;&nbsp;<strong>{{ notasmoodlePrr.name }}</strong></div>
            </td>
            <td>
              <div class="nota-container">
                {{ notasmoodlePrr.grades[0].str_grade }}
              </div>
            </td>
          </tr>


          <tr ng-if="objDisciplinasModulo.disciplinas[0].st_notafinal && objDisciplinasModulo.disciplinas[0].st_notafinal != '-'">
            <td>
              <div><strong>Prova Presencial</strong></div>
            </td>
            <td>
              <div class="nota-container">
                <strong>{{ objDisciplinasModulo.disciplinas[0].st_notafinal }}</strong>
              </div>
            </td>
          </tr>

          <tr ng-if="objDisciplinasModulo.disciplinas[0].st_notaead && objDisciplinasModulo.disciplinas[0].st_notaead != '-'">
            <td>
              <div><strong>Nota EAD</strong></div>
            </td>
            <td>
              <div class="nota-container">
                <strong>{{ objDisciplinasModulo.disciplinas[0].st_notaead }}</strong>
              </div>
            </td>
          </tr>

          <tr ng-repeat="notasmoodle in objDisciplinasModulo.disciplinas[0].ar_notasmoodle" ng-if="!$first">
            <td>
              <div ng-if="$first">Total na Disciplina EAD</div>
              <div ng-if="!$first">&nbsp;&nbsp;&nbsp;&nbsp;Atividade:&nbsp;&nbsp;<strong>{{ notasmoodle.name }}</strong></div>
            </td>
            <td>
              <div class="nota-container">
                {{ notasmoodle.grades[0].str_grade }}
              </div>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <div class="nota-container">
                &nbsp;
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="col-lg-12">
        <a class="btn btn-primary pull-right"
           ui-sref="app.grade-notas({idMatriculaAtiva: vm.$state.params.idMatriculaAtiva})" target="_self" uib-tooltip="Clique para voltar para a Grade de Notas">Voltar
        </a>
      </div>
    </div>

    <div class="col-xs-2"></div>


  </div>
</div>
