@import "../../../scss/common";
@import "../../../scss/customize/variables";
.visualizacao {
    font-size: $font-size-default;
    background-color: $cinza-7;
    .container-chamado {
        padding-left: 30px;
        padding-right: 30px;
        background-color: $cinza-1;
    }
    .header-chamado {
        //height: 95px;
        padding: 33px 0px 0;
        .st_assuntocopai {
            font-size: $font-size-h3;
        }
        .st_assunto {
            margin-bottom: 3px;
            margin-top: 3px;
        }
        .st_evolucao {
            text-transform: uppercase;
            font-weight: bold;
        }
        .date {
            margin-right: 16px;
        }
    }
    .div-btn {
        border-bottom: 1px solid $cor-marca-14;
        border-top: 1px solid $cor-marca-14;
        margin: 10px 0;
        padding: 5px 0;
        .btn-action {}
    }
    .div-interacao {
        padding: 0;
        border-bottom: 1px solid $cor-marca-14;
        margin: 10px 0;
        .div-others {
            padding: 10px 0px;
            border-bottom: 1px solid $cinza-3;
            .container-others {
                padding: 0px $default-padding;
            }
        }
        .div-others-tramite {
            margin: 2px 0;
            padding-bottom: 5px;
        }
        .interacao:nth-of-type(even) {
            background-color: $cinza-8;
            .div-others {
                border-bottom: 1px solid $cinza-1;
            }
        }
        .st_interacao p {
            padding: $default-padding;
            -ms-word-break: break-all;
            word-break: break-all;
            color: $cinza-6;
            font-weight: 300;
            font-size: floor(($font-size-base * 0.85));
        }
    }
    .btn-action {
        color: $cor-marca-14;
        cursor: pointer;
        text-transform: uppercase;
        font-size: $font-size-default;
    }
}
