<div class="container-chamado scroll-wrapper">
  <img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading" />
  <div ng-if="!vm.loading" class="container-fluid header-chamado animated slideInDown">
    <div class="row">
      <div class="col-md-12">
        <span class="st_assuntocopai no-margin-b">
          {{vm.vchamado.st_assuntocopai | capitalize}}</span>
      </div>
    </div>
    <div class="row st_assunto">
      <div class="col-md-6">
        <span class="no-margin-b">
          {{vm.vchamado.st_assuntoco}}
        </span>
      </div>
      <div class="col-md-6">
        <span class="no-margin-b pull-right date">
          {{vm.vchamado.dt_cadastro | asDate : 'dd.MM.yy'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 no-margin-b">
        <span class="st_evolucao link oco-sit-{{vm.vchamado.id_situacao}}">{{vm.vchamado.st_situacao}}
        </span>
      </div>
    </div>
  </div>
  <div class="container-fluid animated slideInDown">
    <div class="row div-btn">
      <div class="col-md-2 col-md-offset-8" ng-if="vm.vchamado.id_situacao != 99">
        <span class="btn-action" ng-click="vm.encerrarChamado(vm.vchamado.id_ocorrencia)">
          Encerrar
        </span>
      </div>
      <div class="col-md-2 pull-right" ng-if="vm.vchamado.id_situacao == 99 && vm.isSameUserSession(vm.vchamado.id_usuariointeressado)">
        <span class="btn-action" ng-click="vm.reabrirChamado(vm.vchamado.id_ocorrencia)">
          Reabrir
        </span>
      </div>
      <div class="col-md-2 pull-right" ng-if="vm.vchamado.id_situacao != 99">
        <span class="btn-action" ng-click="vm.novaInteracao(vm.vchamado)">
          Interagir
        </span>
      </div>
    </div>
    <div class="row div-interacao">
      <div class="col-md-12">
        <div class="row">
          <div ng-repeat="interacao in vm.vinteracoes" class="row interacao ">
            <!-- Interação feita por outro usuario-->
            <div class="row">
              <div class="col-md-12 div-others">
                <div class="container-others">
                  <span class="dt_cadastro">
                    {{interacao.dt_cadastro | asDate: 'dd.MM.yyyy'}}</span>
                  <span class="pull-right">
                    {{interacao.st_nomecompleto}}

                      <!-- <b ng-if="interacao.id_usuario = vm.vchamado.id_usuariointeressado">Minha Interacao
                      </b> -->
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 div-others-tramite">
                <div class="col-md-12 no-margin-b st_interacao ">
                  <p ng-bind-html="interacao.st_tramite"></p>
                  <div class="padding" ng-if="interacao.id_upload">
                    <a class="pull-right" ng-title="Visualizar Anexo" download="{{vm.CONFIG.urlG2 + 'upload/tramite/' + interacao.st_upload}}" ng-href="{{vm.CONFIG.urlG2 + 'upload/tramite/' + interacao.st_upload}}">
                      <i class="icon-icon_offline"></i> Visualizar Anexo
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row interacao">
            <div class="row">
              <div class="col-md-12 div-others">
                <div class="container-others">
                  <span class="dt_cadastro">
                    {{vm.vchamado.dt_cadastro | asDate: 'dd.MM.yyyy'}}</span>
                  <span class="pull-right">
                    <!-- <b>
                      Minha Interação
                    </b> -->
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 div-others-tramite">
                <div class="col-md-12 no-margin-b st_interacao ">
                  <p ng-bind-html="vm.vchamado.st_ocorrencia | parseHtml"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
