<form ng-submit="modalInteracaoCtrl.save()">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" ng-click="modalInteracaoCtrl.close()"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Nova interação</h4>
        </div>
        <div class="modal-body">
            <small> Em que podemos ajudar?</small>
            <div class="form-group">
            <textarea required="required" class="form-control" rows="5"
                      ng-model="modalInteracaoCtrl.st_tramite">
            </textarea>
            </div>
            <div class="form-group form-group-upload" ng-show="!modalInteracaoCtrl.enviandoArquivo">
                <label>Enviar Arquivo</label>
                <div ngf-drop ngf-select ng-model="modalInteracaoCtrl.files" ng-change="modalInteracaoCtrl.verificacaoArquivo()"
                     class="drop-box" ngf-drag-over-class="'dragover'"
                     title="O arquivo deve ser no formato JPEG, PNG, PDF, DOC, DOCX, XLS e XLSX inferior a 10MB"
                     ngf-multiple="false" ngf-allow-dir="false" accept="'.docx,.doc,.pdf,.xls,.xlsx,.png,.jpg,.jpeg'">
                    <span ng-if="!modalInteracaoCtrl.files.name">Arraste seu arquivo ou clique para selecionar</span>
                    <span ng-if="modalInteracaoCtrl.files.name">Arquivo: {{modalInteracaoCtrl.files.name}}</span>
                </div>
                <div ngf-no-file-drop>Este navegador não suporta arrastar/soltar arquivos</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="modalInteracaoCtrl.save()">Confirmar</button>
            <button type="button" class="btn btn-default" ng-click="modalInteracaoCtrl.close()">Cancelar</button>
        </div>
    </div>
</form>
