
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="modalEncerrarCtrl.closeModalEncerrarChamado()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Encerrar Chamado</h4>
      </div>
      <div class="modal-body">
        <p>Deseja realmente encerrar esse chamado?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="modalEncerrarCtrl.saveEncerrarChamado(modalEncerrarCtrl.id_ocorrencia)">Confirmar</button>
        <button type="button" class="btn btn-default" ng-click="modalEncerrarCtrl.closeModalEncerrarChamado()">Cancelar</button>
      </div>
    </div>
