
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="modalReabrirCtrl.closeModalReabrirChamado()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Reabrir Chamado</h4>
      </div>
      <div class="modal-body">
        <p>Deseja realmente reabrir esse chamado?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="modalReabrirCtrl.saveReabrirChamado(modalReabrirCtrl.id_ocorrencia)">Confirmar</button>
        <button type="button" class="btn btn-default" ng-click="modalReabrirCtrl.closeModalReabrirChamado()">Cancelar</button>
      </div>
    </div>
    
