<div class="container-fluid scroll-wrapper">
    <div class="row scroll-wrapper">
        <div class="col-lg-12 col-md-12 no-padding scroll-wrapper">
            <perfect-scrollbar class="scroll-wrapper">
              <pw-grade-notas-detalhamento></pw-grade-notas-detalhamento>
            </perfect-scrollbar>
        </div>
        </div>
    </div>
</div>
