<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
<div id="pcLayout" data-spy="scroll" data-target="#navbar-example">
  <header class="navbar navbar-default navbar-fixed-top navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-3"
                ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="#">UI Bootstrap</a>
      </div>
      <nav class="">
        <ul class="nav navbar-nav">
          <a href="#top" role="button" class="navbar-brand">
            UI -
            <small>
              Guia de estilo
            </small>
          </a>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              Elementos
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="active">
                <a href="#estrutura_padrao">Estrutura Padrão</a>
              </li>
              <li>
                <a href="#customizacao-layout">Customização do Layout</a>
              </li>
              <li class="">
                <a href="#rolagem">Rolagem</a>
              </li>
              <li class="">
                <a href="#uteis">Classes Úteis</a>
              </li>
              <li class="">
                <a href="#grid">Grid Flex</a>
              </li>
              <li class="">
                <a href="#forms">Formulários</a>
              </li>
              <li class="">
                <a href="#loading">Loading</a>
              </li>
              <li class="">
                <a href="#accordion">Accordion</a>
              </li>
              <li class="">
                <a href="#list-group">List Group</a>
              </li>
              <li class="">
                <a href="#icons">Icons</a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
    </div>
  </header>
  <main class="container container-fluid">
    <perfect-scrollbar class="scroll-wrapper">
      <div class="row">
        <div class="col-lg-12 ">

          <section id="estrutura_padrao">

            <h2>Estrutura padrão</h2>
            <p>Para que os componentes mantanha-se sempre de acordo com o layout e para que a ão de cada
              funcione
              corretamente, certifique-se de criar toda estrutura dentro do seguinte padrão.</p>
<div hljs>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-md-lg-x">
      <!--Seus componentes, linhas, etc...-->
    </div>
  </div>
</div>
</div>
          </section>
          <section id="customizacao-layout">
            <h2>Customização do Layout</h2>
            <p>Para fazermos uma customização de layout primeiro é necessário avaliarmos se a customização
              aplica-se
              apenas a um componente do sistema ou ao layout inteiro do sistema, sendo que as alterações
              que afetam o
              layout inteiro do sistema podem ser itens especificos ou componentes padrões do
              Bootstrap.</p>
            <h3>Arquivos padrões SASS no sistema</h3>
            <p>No diretório client -> scss há vários arquivos *.scss, esses arquivos correspondem aos
              arquivos SASS
              padrões do sistema, a estrutura padrão dos arquivos seguem conforme desrito abaixo.</p>
            <ul>
              <li>
                <b>app.scss:</b> Arquivo onde são feito os imports de todos os arquivos do SASS
                utilizados pelo projeto.
              </li>
              <li>
                <b>bootstrap.theme.scss:</b> Arquivo onde são feito os imports dos arquivos SASS que
                estão na pasta
                <b>customize</b>, esses arquivos contém as customizações dos elementos do bootstrap.
              </li>
              <li>
                <b>color.scss:</b> Arquivo contendo as variaveis que customizam as cores gerais do
                sistema.
              </li>
              <li>
                <b>commom.scss:</b> Arquivo onde são feito os imports de alguns arquivos do SASS que são
                comuns entre os
                componentes, atualmente esse arquivo faz o import dos arquivos mixins.scss e
                colors.scss.
              </li>
              <li>
                <b>icons.scss:</b> Arquivos onde é definido a fonte dos icones e onde estão as classes
                css que
                representam os icones do sistema.
              </li>
              <li>
                <b>mixins.scss:</b> Arquivos onde estão os mixins que não existem no bootstrap.
              </li>
              <li>
                <b>style.scss:</b> Arquivo onde estão as alterações gerais de layout.
              </li>
              <li>
                <b>typograph.scss:</b> Arquivo que define a fonte do sistema e algumas classes css
                referente aos textos.
              </li>
              <li>
                <b>utils.scss:</b> Arquivo com algumas classes css uteis.
              </li>
              <li>
                <b>customize:</b> Pasta onde devem ser colocados os arquivos SASS para customização dos
                componentes do
                bootstrap
                <ul>
                  <li><p>
                    <b>variables.scss</b> Arquivo de variaveis do bootstrap, todas as variaveis do
                    bootstrap estão nesse
                    arquivo, totas as alterações efetuadas nesse arquivo reflete no layout de todo o
                    sistema.
                  </p>
                  </li>
                </ul>
              </li>
            </ul>

            <h3>Customização do CSS </h3>

            <p>Sempre que for criado um arquivo scss que faça alterações gerais no layout é necessário
              adiciona-lo a
              lista de imports no arquivo
              <b>app.scss</b>, isso irá garantir que o seu arquivo será compilado pelo gulp.</p>

            <p>Ao criar um componente, certifique-se que cada um tenha o seu arquivo *.scss, para
              customização acesse o
              diretório do componente e escreva as alterações do sass no arquivo .scss
            </p>
            <p>No arquivos .scss do componente importe <b><u>sempre</u></b> o arquivo <b>commom.scss</b>,
              assim você
              terá acesso as variáveis e mixins criados.</p>
            <small><b>Os arquivos .scss dos componentes não precisam ser importados no arquivo app.scss</b>
            </small>


          </section>
          <section id="rolagem">
            <h2>Rolagem dos elementos</h2>
            <p>Para aplicar a rolagem vertical nos elementos, utilize a directive
              <b>
                <mark>perfect-scrollbar</mark>
              </b>
              com a classe de css
              <b>
                <mark>scroll-wrapper</mark>
              </b>
              envolvendo o elemento, div ou componente.
            </p>
            <div style="height: 250px; width: 100%; margin-bottom: 50px; ">
              <perfect-scrollbar class="scroll-wrapper">
                <div style="height: 150px">
                  <h3>Texto de exemplo</h3>
                  <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de
                    impressos, e vem
                    sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma
                    bandeja de tipos e os
                    embaralhou para fazer um livro de modelos de
                    tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para
                    a editoração
                    eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de
                    60, quando a
                    Letraset lançou decalques contendo passagens de Lorem Ipsum, e
                    mais recentemente quando passou a ser integrado a softwares de editoração
                    eletrônica como Aldus
                    PageMaker.</p>
                  <img style="height: 175px; margin: 10px; float: left;" alt="AVM"
                       src="http://geekness.com.br/wp-content/uploads/2014/06/37-lindas-paisagens-da-Islandia-34.jpg"/>
                  <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de
                    impressos, e vem
                    sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma
                    bandeja de tipos e os
                    embaralhou para fazer um livro de modelos de
                    tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para
                    a editoração
                    eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de
                    60, quando a
                    Letraset lançou decalques contendo passagens de Lorem Ipsum, e
                    mais recentemente quando passou a ser integrado a softwares de editoração
                    eletrônica como Aldus
                    PageMaker.</p>
                  <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de
                    impressos, e vem
                    sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma
                    bandeja de tipos e os
                    embaralhou para fazer um livro de modelos de
                    tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para
                    a editoração
                    eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de
                    60, quando a
                    Letraset lançou decalques contendo passagens de Lorem Ipsum, e
                    mais recentemente quando passou a ser integrado a softwares de editoração
                    eletrônica como Aldus
                    PageMaker.</p>
                </div>
              </perfect-scrollbar>
            </div>

            <p>Veja o exemplo abaixo. O exemplo em questão representa a estrutura html da tela de mensagens
              (pcMensagensMain.html)</p>

<div hljs>
<div class="container-fluid scroll-wrapper">
  <div class="row scroll-wrapper">
    <div class="col-md-8 col-sm-8 col-lg-8 no-padding visualizacao scroll-wrapper">
      <perfect-scrollbar class="scroll-wrapper">
        <div class="" ui-view="mensagens-show"></div>
      </perfect-scrollbar>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 no-padding scroll-wrapper">
      <perfect-scrollbar class="scroll-wrapper border-top-large">
        <pc-mensagens-list></pc-mensagens-list>
      </perfect-scrollbar>
    </div>
  </div>
</div>
</div>

          </section>

          <section id="uteis">

            <h1>Classes Úteis</h1>

            <h4>Remover Paddings</h4>
            <ul>
              <li><b>.no-padding</b> - Remover todos os paddings</li>
              <li><b>.no-pad-top</b> - Remover padding-top</li>
              <li><b>.no-pad-bottom</b> - Remover padding-bottom</li>
              <li><b>.no-pad-left</b> - Remover padding-left</li>
              <li><b>.no-pad-right</b> - Remover padding-right</li>
            </ul>

            <h4>Remover Margens</h4>
            <ul>
              <li><b>.no-margin</b> - Remover todas as margens</li>
              <li><b>.no-mgn-top</b> - Remover margin-top</li>
              <li><b>.no-mgn-bottom</b> - Remover margin-bottom</li>
              <li><b>.no-mgn-left</b> - Remover margin-left</li>
              <li><b>.no-mgn-right</b> - Remover margin-right</li>
            </ul>
          </section>

          <section id="grid">
            <h2>Grid Flex</h2>
            <p>
              Você pode usar a grid flex quando é necessário que as colunas tenham as larguras auto-ajustáveis.
              Também é possivel posicionar as colunas de acordo com sua necessidade.
            </p>

            <div>
              <h4>Padrão</h4>
              <div class="flex-grid">
                <div class="flex-col">
                  Minha coluna flex
                </div>
                <div class="flex-col">
                  Minha coluna flex com texto maior (consequentemente largura maior)
                </div>
              </div>
<div hljs>
<div class="flex-grid">
  <div class="flex-col">
    Minha coluna flex
  </div>
  <div class="flex-col">
    Minha coluna flex com texto maior (consequentemente largura maior)
  </div>
</div>
</div>
            </div>

            <div>
              <h4>Preencher</h4>
              <p>Use a classe .flex-col-fill na coluna que ocupará o maior espaço na grid</p>
              <div class="flex-grid">
                <div class="flex-col">
                  Minha coluna flex
                </div>
                <div class="flex-col flex-col-fill">
                  Minha coluna flex com preenchimento
                </div>
              </div>

<div hljs>
<div class="flex-grid">
  <div class="flex-col">
    Minha coluna flex
  </div>
  <div class="flex-col flex-col-fill">
    Minha coluna flex com preenchimento
  </div>
</div>
</div>

            </div>

            <div>
              <h4>Alinhar Conteúdo</h4>
              <div class="row row-gutter">
                <div class="col-xs-12 col-md-4">
                  <h5>Topo</h5>
                  <p>Use a classe .flex-top junto à .flex-grid</p>
                  <div class="flex-grid flex-top">
                    <div class="flex-col">
                      Minha coluna flex
                    </div>
                    <div class="flex-col">
                      Minha coluna flex<br/>
                      Linha 2 para testar alinhamento
                    </div>
                  </div>
<div hljs>
<div class="flex-grid flex-top">
  <div class="flex-col">
    Minha coluna flex
  </div>
  <div class="flex-col">
    Minha coluna flex<br/>
    Linha 2 para testar alinhamento
  </div>
</div>
</div>
                </div>
                <div class="col-xs-12 col-md-4">
                  <h5>Centro</h5>
                  <p>Use a classe .flex-middle junto à .flex-grid</p>
                  <div class="flex-grid flex-middle">
                    <div class="flex-col">
                      Minha coluna flex
                    </div>
                    <div class="flex-col">
                      Minha coluna flex<br/>
                      Linha 2 para testar alinhamento
                    </div>
                  </div>
<div hljs>
<div class="flex-grid flex-middle">
  <div class="flex-col">
    Minha coluna flex
  </div>
  <div class="flex-col">
    Minha coluna flex<br/>
    Linha 2 para testar alinhamento
  </div>
</div>
</div>
                </div>
                <div class="col-xs-12 col-md-4">
                  <h5>Baixo</h5>
                  <p>Use a classe .flex-bottom junto à .flex-grid</p>
                  <div class="flex-grid flex-bottom">
                    <div class="flex-col">
                      Minha coluna flex
                    </div>
                    <div class="flex-col">
                      Minha coluna flex<br/>
                      Linha 2 para testar alinhamento
                    </div>
                  </div>
<div hljs>
<div class="flex-grid flex-bottom">
  <div class="flex-col">
    Minha coluna flex
  </div>
  <div class="flex-col">
    Minha coluna flex<br/>
    Linha 2 para testar alinhamento
  </div>
</div>
</div>
                </div>
              </div>
            </div>

            <div>
              <h4>Alinhar Coluna</h4>
              <p>Você pode alinhar uma coluna em específo</p>

              <div class="row row-gutter">
                <div class="col-xs-12 col-md-6">
                  <h5>Esquerda</h5>
                  <p>Por padrão a grid já alinha as colunas à esquerda. Mas caso você precise, use a classe .flex-col-left junto à .flex-col</p>
                  <div class="flex-grid">
                    <div class="flex-col">
                      Minha coluna flex
                    </div>
                    <div class="flex-col flex-col-left">
                      Minha coluna flex
                    </div>
                  </div>
<div hljs>
<div class="flex-grid">
  <div class="flex-col">
    Minha coluna flex
  </div>
  <div class="flex-col flex-col-left">
    Minha coluna flex
  </div>
</div>
</div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <h5>Direita</h5>
                  <p>Use a classe .flex-col-right junto à .flex-col. Todas as colunas que estiverem após a flex-col-right serão alinhadas junto à ela.</p>
                  <div class="flex-grid">
                    <div class="flex-col">
                      Minha coluna flex
                    </div>
                    <div class="flex-col flex-col-right">
                      Minha coluna flex à direita
                    </div>
                  </div>
<div hljs="">
<div class="flex-grid">
  <div class="flex-col">
    Minha coluna flex
  </div>
  <div class="flex-col flex-col-right">
    Minha coluna flex
  </div>
</div>
</div>
                </div>
              </div>

            </div>

          </section>

          <section id="forms">
            <h2>Formulários</h2>
            <p>
              Junto ao seu elemento com a classe .row, use o .row-gutter para adicionar o espaçamento necessário entre os inputs, e não ficarem colados.
            </p>
            <form>

              <div class="row row-gutter">
                <!--Coluna 1-->
                <div class="col-lg-4">
                  <h4>Inputs padrões</h4>
                  <p>Abaixo estão listados os elementos de formulário padrões.</p>
                  <div class="form-group">
                    <label>nome</label>
                    <input class="form-control" type="text" name="x" id="x"
                           value="Lucas Oliveira da Silva">
                  </div>
<div hljs>
<div class="form-group">
  <label>nome</label>
  <input class="form-control" type="text"/>
</div>
</div>

                  <div class="form-group">
                    <label>e-mail</label>
                    <input class="form-control" type="email" name="y" id="y"
                           value="lucas82@gmail.com">
                  </div>
<div hljs>
<div class="form-group">
  <label>email</label>
  <input class="form-control" type="email"/>
</div>
</div>

                  <div class="form-group">
                    <label>Senha de acesso</label>
                    <input class="form-control" type="password" name="z" id="z" value="*********">
                  </div>

<code hljs>
<div class="form-group">
  <label>senha</label>
  <input class="form-control" type="password"/>
</div>
</code>

                  <div class="form-group">
                    <label>RESUMO</label>
                    <textarea class="form-control">Descrição</textarea>
                  </div>

<div hljs>
<div class="form-group">
  <label>descrição</label>
  <textarea class="form-control"></textarea>
</div>
</div>
                  <div class="form-group">
                    <label>Selecione um item</label>
                    <select class="form-control">
                      <option>Item 1</option>
                      <option>Item 2</option>
                    </select>
                  </div>

<div hljs>
<div class="form-group">
  <label>Selecione um item</label>
  <select class="form-control">
    <option value="1">Item 1</option>
    <option value="2">Item 2</option>
  </select>
</div>
</div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optCheck" value="">
                    </label>
                    <label>
                      <input type="checkbox" name="optCheck" checked value="">
                    </label>
                  </div>
<div hljs>
<div class="checkbox">
  <label>
    <input type="checkbox" name="optCheck">
  </label>
  <label>
    <input type="checkbox" name="optCheck" checked>
  </label>
</div>
</div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optRadio" value="">
                    </label>
                    <label>
                      <input type="radio" name="optRadio" checked value="">
                    </label>
                  </div>
<div hljs>
<div class="radio">
  <label>
    <input type="radio" name="optRadio">
  </label>
  <label>
    <input type="radio" name="optRadio" checked>
  </label>
</div>
</div>
                </div>
                <!--Fim da Coluna 1-->
                <!--Coluna 2-->
                <div class="col-lg-4">
                  <h4>Inputs validação</h4>
                  <p>As costumizações abaixo podem ser aplicadas em qualquer elemento de formulário,
                    visando dar uma
                    ênfase aos elementos quando for necessário validar algum dado.</p>
                  <div class="form-group has-success">
                    <input type="text" class="form-control" id="inputSuccess1"
                           aria-describedby="helpBlock2">
                    <span id="helpBlock2" class="help-block">Texto de ajuda.</span>
                  </div>

<div hljs>
<div class="form-group has-success">
  <input class="form-control" type="text" id="inputSuccess1"
         aria-describedby="helpBlock2"/>
  <span id="helBlock2" class="help-block">Texto de ajuda</span>
</div>
</div>

                  <div class="form-group has-warning">
                    <input type="text" class="form-control" id="inputWarning1">
                  </div>
<div hljs>
<div class="form-group has-warning">
  <input class="form-control" type="text" id="inputWarning1"/>
</div>
</div>

                  <div class="form-group has-error">
                    <input type="text" class="form-control" id="inputError1">
                  </div>
<div hljs>
<div class="form-group has-error">
  <input class="form-control" type="text" id="inputError1"/>
</div>
</div>

                  <div class="form-group has-info">
                    <input type="text" class="form-control" id="inputInfo">
                  </div>

<div hljs>
<div class="form-group has-info">
  <input class="form-control" type="text" id="inputInfo"/>
</div>
</div>

                  <div class="form-group has-custom">
                    <input type="text" class="form-control" id="inputCustom">
                  </div>

<div hljs>
<div class="form-group has-custom">
  <input class="form-control" type="text" id="inputCustom"/>
</div>
</div>

                  <div class="has-success">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="checkboxSuccess" value="option1">
                        Checkbox with success
                      </label>
                    </div>
                  </div>
                  <div class="has-warning">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="checkboxWarning" value="option1">
                        Checkbox with warning
                      </label>
                    </div>
                  </div>
                  <div class="has-error">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="checkboxError" value="option1">
                        Checkbox with error
                      </label>
                    </div>
                  </div>
<div hljs>
<div class="has-success">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="checkboxSuccess" value="option1">
      Success
    </label>
  </div>
</div>

<div class="has-warning">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="checkboxWarning" value="option1">
      Warning
    </label>
  </div>
</div>

<div class="has-error">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="checkboxError" value="option1">
      Error
    </label>
  </div>
</div>
</div>

                </div>
                <!--Fim da coluna 2-->
                <!--Coluna 3-->
                <div class="col-lg-4">
                  <h4>Inputs customizados</h4>
                  <p>Campos de formulário personalizados, visando outras situações de layout.
                  </p>
                  <div id="bloco-customizado">
                    <div class="form-group has-success">
                      <input type="text" placeholder="Hint text"
                             class="form-control input-bg-custom">
                    </div>
                    <div class="form-group has-warning">
                      <input type="text" placeholder="Hint text" value="Input text"
                             class="form-control input-bg-custom">
                    </div>
                    <div class="form-group has-error">
                      <input type="text" placeholder="Hint text"
                             class="form-control input-bg-custom">
                    </div>
                    <div class="form-group has-info">
                      <input type="text" placeholder="Hint text"
                             class="form-control input-bg-custom">
                    </div>
                    <div class="form-group has-custom">
                      <input type="text" placeholder="Hint text"
                             class="form-control input-bg-custom">
                    </div>
                  </div>

                  <div class="form-group has-success">
                    <input type="text" placeholder="Hint text" class="form-control input-custom">
                  </div>
<div hljs>
<div class="form-group has-success">
  <input type="text" placeholder="Hint text" class="form-control input-custom">
</div>
</div>

                  <div class="form-group has-warning">
                    <input type="text" placeholder="Hint text" class="form-control input-custom">
                  </div>
<div hljs>
<div class="form-group has-warning">
  <input type="text" placeholder="Hint text" class="form-control input-custom">
</div>
</div>

                  <div class="form-group has-error">
                    <input type="text" placeholder="Hint text" value="Input text"
                           class="form-control input-custom">
                    <small class="help-block">Nome ou senha incorreta.</small>
                  </div>
<div hljs>
<div class="form-group has-error">
  <input type="text" placeholder="Hint text" value="Input text" class="form-control input-custom">
  <small class="help-block">Nome ou senha incorreta.</small>
</div>
</div>

                  <div class="form-group has-info">
                    <input type="text" placeholder="Hint text" class="form-control input-custom">
                  </div>
<div hljs>
<div class="form-group has-info">
  <input type="text" placeholder="Hint text" class="form-control input-custom">
</div>
</div>

                  <div class="form-group has-custom">
                    <input type="text" placeholder="Hint text" class="form-control input-custom">
                  </div>

<div hljs>
<div class="form-group has-custom">
  <input type="text" placeholder="Hint text" class="form-control input-custom">
</div>
</div>
                </div>
                <!--Fim da coluna 3-->
              </div>

              <h4>Botões customizados</h4>
              <p></p>
              <div class="form-group">
                <button type="button" class="btn btn-default">btn-default</button>
                <button type="button" class="btn btn-primary">btn-primary</button>
                <button type="button" class="btn btn-success">btn-success</button>
                <button type="button" class="btn btn-danger">btn-danger</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-link">Link</button>

              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-default btn-inverse">btn-default btn-inverse
                </button>
                <button type="submit" class="btn btn-primary btn-inverse">btn-primary btn-inverse
                </button>
                <button type="submit" class="btn btn-success btn-inverse">btn-success btn-inverse
                </button>
                <button type="submit" class="btn btn-danger btn-inverse">btn-danger btn-inverse</button>
                <button type="submit" class="btn btn-info btn-inverse">btn-btn-info btn-inverse</button>
                <button type="submit" class="btn btn-warning btn-inverse">btn-btn-warning btn-inverse
                </button>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-login">btn-primary btn-login</button>
              </div>


            </form>
          </section>

          <section id="loading">
            <h2>Loading</h2>
            <p>
              Você pode usar uma imagem loading com um overlay sobre qualquer elemento, basta informar a imagem dentro de uma div com a classe .loading-fill e também que elemento pai possua position relative ou absolute.
            </p>
            <div class="loading-container" style="position: relative;">
              <div class="loading-fill" ng-if="loading">
                <img ng-src="{{vm.loadingGif}}"/>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quia, similique. Autem consequatur consequuntur debitis dolor, dolorum eveniet ex ipsam itaque libero modi nam nesciunt quam qui ratione sapiente vero.</p>
              <button class="btn btn-primary" type="button" ng-click="loading = true">Abrir Loading</button>
            </div>
<div hljs="">
<div style="position: relative;">
  <div class="loading-fill" ng-if="loading">
    <img ng-src="{{vm.loadingGif}}"/>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quia, similique. Autem consequatur consequuntur debitis dolor, dolorum eveniet ex ipsam itaque libero modi nam nesciunt quam qui ratione sapiente vero.</p>
  <button class="btn btn-primary" type="button" ng-click="loading = true">Abrir Loading</button>
</div>
</div>
          </section>

          <section id="accordion">
            <h2>Accordion</h2>


            <uib-accordion close-others="oneAtATime">
              <div uib-accordion-group class="panel-info" heading="Collapsible Group Item #1">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3
                wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum
                eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente
                ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw
                denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                VHS.
              </div>
              <div uib-accordion-group class="panel-danger" heading="Delete account">
                <p>Please, to delete your account, click the button below</p>
                <button class="btn btn-danger">Delete</button>
              </div>
              <div uib-accordion-group class="panel-success" is-open="status.open">
                <uib-accordion-heading>
                  I can have markup, too! <i class="pull-right glyphicon"
                                             ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
              </div>
            </uib-accordion>


<div hljs>
<uib-accordion close-others="oneAtATime">
  <div uib-accordion-group class="panel-info" heading="Collapsible Group Item #1">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
    richardson ad squid. 3
    wolf
    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
    laborum
    eiusmod.
    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
    nulla assumenda
    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
    nesciunt sapiente
    ea
    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
    farm-to-table, raw
    denim
    aesthetic synth nesciunt you probably haven't heard of them accusamus labore
    sustainable VHS.
  </div>
  <div uib-accordion-group class="panel-danger" heading="Delete account">
    <p>Please, to delete your account, click the button below</p>
    <button class="btn btn-danger">Delete</button>
  </div>
  <div uib-accordion-group class="panel-success" is-open="status.open">
    <uib-accordion-heading>
      I can have markup, too!
      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </uib-accordion-heading>
    This is just some content to illustrate fancy headings.
  </div>
</uib-accordion>
</div>


          </section>

          <section id="list-group">
            <h2>List Group</h2>
            <p>O list group pode ser utilizado para exibir uma simples lista bem como uma lista
              personalizada com icones
              e elementos badge, apesar de utilizarmos o group list padrão do bootstrap, houve uma
              personalização do
              layout para atender o padrão de ui do sitema.</p>

            <div class="list-group">
              <a class="list-group-item" target="_parent">
    <span class="list-group-item-heading">
      Item #1
    </span>
                <span class="list-group-item-infos pull-right">10/03/1994</span>
                <p class="list-group-item-text">Descrição item...</p>
              </a>

              <a class="list-group-item" target="_parent">
                <i class="icon-icon_mens icon-left"></i>
                <span class="list-group-item-heading">
      Icon Left #2
    </span>
              </a>

              <a class="list-group-item" target="_parent">
                Cras justo odio
              </a>
              <a class="list-group-item" target="_parent">
                <span class="badge">14</span>
                Dapibus ac facilisis in
              </a>


            </div>

<div hljs>
<div class="list-group">
  <a class="list-group-item">
    <span class="list-group-item-heading">Item #1</span>
    <span class="list-group-item-infos pull-right">10/03/1994</span>
    <p class="list-group-item-text">Descrição item...</p>
  </a>
  <a class="list-group-item">
    <i class="icon-icon_mens icon-left"></i>
    <span class="list-group-item-heading">Icon Left #2</span>
  </a>
  <a class="list-group-item">
    Cras justo odio
  </a>
  <a class="list-group-item">
    <span class="badge">14</span>
    Dapibus ac facilisis in
  </a>
</div>
</div>

          </section>
          <section id="icons">
            <h2>Icones</h2>
            <p>Inclui mais de 35 icones no formato de fonte personalizado para o portal. Além de trabalhar em conjunto com a <a href="http://getbootstrap.com/components/#glyphicons" target="_blank">Glyphicons</a> do bootstrap.</p>
            <div class="bs-glyphicons">
              <ul class="bs-glyphicons-list">
                <li>
                  <span class="glyphicon icon-icon_mens"></span>
                  <span class="glyphicon-class">icon-icon_mens</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_discs"></span>
                  <span class="glyphicon-class">icon-icon_discs</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_video"></span>
                  <span class="glyphicon-class">icon-icon_video</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_time"></span>
                  <span class="glyphicon-class">icon-icon_time</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_setaE"></span>
                  <span class="glyphicon-class">icon-icon_setaE</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_setaD"></span>
                  <span class="glyphicon-class">icon-icon_setaD</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_seg"></span>
                  <span class="glyphicon-class">icon-icon_seg</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_sair"></span>
                  <span class="glyphicon-class">icon-icon_sair</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_ponto"></span>
                  <span class="glyphicon-class">icon-icon_ponto</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_pessoa3"></span>
                  <span class="glyphicon-class">icon-icon_pessoa3</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_pessoa2"></span>
                  <span class="glyphicon-class">icon-icon_pessoa2</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_pessoa1"></span>
                  <span class="glyphicon-class">icon-icon_pessoa1</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_offline"></span>
                  <span class="glyphicon-class">icon-icon_offline</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_nota"></span>
                  <span class="glyphicon-class">icon-icon_nota</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_mic"></span>
                  <span class="glyphicon-class">icon-icon_mic</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_menu"></span>
                  <span class="glyphicon-class">icon-icon_menu</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_mens"></span>
                  <span class="glyphicon-class">icon-icon_mens</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_livro"></span>
                  <span class="glyphicon-class">icon-icon_livro</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_forum"></span>
                  <span class="glyphicon-class">icon-icon_forum</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_financa"></span>
                  <span class="glyphicon-class">icon-icon_financa</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_edit"></span>
                  <span class="glyphicon-class">icon-icon_edit</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_disc"></span>
                  <span class="glyphicon-class">icon-icon_disc</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_delarc"></span>
                  <span class="glyphicon-class">icon-icon_delarc</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_data"></span>
                  <span class="glyphicon-class">icon-icon_data</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_config"></span>
                  <span class="glyphicon-class">icon-icon_config</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_compartilhar"></span>
                  <span class="glyphicon-class">icon-icon_compartilhar</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_chat"></span>
                  <span class="glyphicon-class">icon-icon_chat</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_camera"></span>
                  <span class="glyphicon-class">icon-icon_camera</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_busca"></span>
                  <span class="glyphicon-class">icon-icon_busca</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_boleto"></span>
                  <span class="glyphicon-class">icon-icon_boleto</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_aulas"></span>
                  <span class="glyphicon-class">icon-icon_aulas</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_aula"></span>
                  <span class="glyphicon-class">icon-icon_aula</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_audio"></span>
                  <span class="glyphicon-class">icon-icon_audio</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_atend"></span>
                  <span class="glyphicon-class">icon-icon_atend</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_arc"></span>
                  <span class="glyphicon-class">icon-icon_arc</span>
                </li>
                <li>
                  <span class="glyphicon icon-icon_alarme"></span>
                  <span class="glyphicon-class">icon-icon_alarme</span>
                </li>

              </ul>
            </div>
          </section>


        </div>
      </div>
    </perfect-scrollbar>
  </main>
</div>
