@import "../../../scss/common";

.panel-lancamentos-pendentes {
  .panel-heading {
    text-align: right;
    border: 0;
    a {
      display: block;
    }
  }
  .panel-body {
    overflow: auto;
    padding-bottom: 0px;
    padding-top: 0px;
    .icon-icon_boleto {
      color: #CBE2EC;
    }
  }
}

.panel-lancamentos-atrasados {
  .panel-heading {
    text-align: right;
    border: 0;
    a {
      display: block;
    }
  }
  .panel-body {
    padding-bottom: 0px;
    padding-top: 0px;
    .icon-icon_boleto {
      color: #ECC3BB;
    }
  }
}

.panel-lancamentos-pagos {
  .panel-heading {
    text-align: right;
    border: 0;
    a {
      display: block;
    }
  }
  .panel-body {
    padding-bottom: 0px;
    padding-top: 0px;
    .icon-icon_boleto {
      color: #D3E6C8;
    }
  }
}

.lancamentos-row {
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0px;
  display: block;
  border-bottom: 1px $cinza-3 solid;

  &:hover {
    margin-left: 5px;
  }
}
.lancamentos {
  display: block;

  span.valor {
    font-size: 16px; font-weight: bold
  }
  span.data {
    font-size: 9px;
  }
  span.label-produto {
    font-size: 9px; font-weight: bold;
  }
  span.nome-produto {
    font-size: 16px; color: $cinza-6;
  }
  .icon-icon_boleto {
    font-size: 24px;
  }
  .icon-box { padding: 15px; }
}
