<div class="container-fluid nopadding">
    <img ng-show="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading"/>
    <div class="panel no-padding no-margin text-center"><p >Clique nas parcelas para visualizar os detalhes e ações</p></div>
    <div class="lancamentos">

        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-lancamentos-pendentes panel-info" is-open="true"
                 ng-if="vm.lancamentosPendentes.length > 0">
                <uib-accordion-heading>A pagar</uib-accordion-heading>

                <div class="row lancamentos-row"
                     ng-repeat="lancamento in vm.lancamentosPendentes | orderBy:'+dt_vencimento'"
                     ng-click="vm.visualizarLancamento($event, lancamento)"
                     ui-sref="app.financeiro.form({id_lancamento:lancamento.id_lancamento})">
                    <div class="col-lg-2 col-md-2">
                        <span class="valor">R$ {{::lancamento.nu_valor}}</span><br>
                        <span class="data">{{::lancamento.dt_vencimento | date : "dd"}} de {{::lancamento.dt_vencimento | date : "MMM"}} de {{::lancamento.dt_vencimento | date : "yyyy"}}</span>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <span class="label-produto">Produto contratado:</span><br>
                        <span class="nome-produto">{{::lancamento.st_curso}}</span>
                    </div>
                    <div class="col-lg-2 col-md-2 icon-box">
                        <span class="nome-produto">{{::lancamento.st_meiopagamento}}</span>
                        <i class="icon icon-icon_boleto pull-right"></i>
                    </div>
                </div>
            </div>

            <div uib-accordion-group class="panel-lancamentos-atrasados panel-danger" is-open="status.open"
                 ng-if="vm.lancamentosAtrasados.length > 0">
                <uib-accordion-heading>Atrasado(s)</uib-accordion-heading>
                <div class="row lancamentos-row"
                     ng-repeat="lancamento in vm.lancamentosAtrasados | orderBy:'+dt_vencimento'"
                     ng-click="vm.visualizarLancamento($event, lancamento)"
                     ui-sref="app.financeiro.form({id_lancamento:lancamento.id_lancamento})">
                    <div class="col-lg-2 col-md-2">
                        <span class="valor">R$ {{::lancamento.nu_valor}}</span><br>
          <span
                  class="data">{{::lancamento.dt_vencimento | date : "dd"}} de {{::lancamento.dt_vencimento | date : "MMM"}}  de {{::lancamento.dt_vencimento | date : "yyyy"}}</span>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <span class="label-produto">Produto contratado:</span><br>
                        <span class="nome-produto">{{::lancamento.st_curso}}</span>
                    </div>
                    <div class="col-lg-2 col-md-2 icon-box">
                        <span class="nome-produto">{{::lancamento.st_meiopagamento}}</span>
                        <i class="icon icon-icon_boleto pull-right"></i>
                    </div>
                </div>
            </div>

            <div uib-accordion-group class="panel-lancamentos-pagos panel-success" is-open="status.open"
                 ng-if="vm.lancamentosPagos.length > 0">
                <uib-accordion-heading>Pagos</uib-accordion-heading>
                <div class="row lancamentos-row"
                     ng-repeat="lancamento in vm.lancamentosPagos | orderBy:'+dt_vencimento'"
                     ng-click="vm.visualizarLancamento($event, lancamento)"
                     ui-sref="app.financeiro.form({id_lancamento:lancamento.id_lancamento})">
                    <div class="col-lg-2 col-md-2">
                        <span class="valor">R$ {{lancamento.nu_valor}}</span><br>
          <span
                  class="data">{{lancamento.dt_vencimento | date : "dd"}} de {{lancamento.dt_vencimento | date : "MMM"}}  de {{lancamento.dt_vencimento | date : "yyyy"}}</span>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <span class="label-produto">Produto contratado:</span><br>
                        <span class="nome-produto">{{::lancamento.st_curso}}</span>
                    </div>
                    <div class="col-lg-2 col-md-2 icon-box">
                        <span class="nome-produto">{{::lancamento.st_meiopagamento}}</span>
                        <i class="icon icon-icon_boleto pull-right"></i>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
