<perfect-scrollbar class="scroll-wrapper padding-left padding-right">
  <div class="loading-fill" ng-if="vm.loading && vm.loadingGif">
    <img ng-src="{{vm.loadingGif}}"/>
  </div>

  <div class="padding-left padding-right">
    <h1>Atividades Complementares</h1>

    <div>
      <div class="pull-right">
        <a class="btn btn-primary btn-inverse" type="button"
           ng-disabled="vm.nu_horasaluno >= vm.nu_horasprojeto"
           ng-click="vm.abrirForm()"
        >
          Cadastrar Atividade Complementar
        </a>
      </div>
      <div>
        <p>
          Quantidade de horas para aprovação: {{ vm.nu_horasprojeto }}
        </p>
        <p>
          Somatório de horas deferidas: {{ vm.nu_horasaluno }}
        </p>
      </div>
    </div>

    <div class="table-responsive" ng-if="vm.atividades.length">
      <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
          <th>Título da Atividade Complementar</th>
          <th>Tipo da Atividade Complementar</th>
          <th>Quantidade de horas deferidas</th>
          <th>Informações Adicionais</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="atividade in vm.atividades">
          <td>
            {{ atividade.st_tituloatividade }}
          </td>
          <td class="text-center">
            {{ atividade.st_tipoatividade }}
          </td>
          <td class="text-center">
            {{ atividade.nu_horasconvalidada || '-' }}
          </td>
          <td class="text-center">
            <span ng-if="!atividade.st_resumo">-</span>
            <a data-toggle="modal" data-target="#atividadeObservacaoModal" ng-if="atividade.st_resumo" ng-click="vm.st_resumo = atividade.st_resumo">
              <i class="glyphicon glyphicon-eye-open"></i>
            </a>
          </td>
          <td class="text-center">
            <b class="text-{{ atividade.id_situacao == 200 ? 'success' : (atividade.id_situacao == 201 ? 'danger' : 'info') }}">
              {{ atividade.st_situacao }}
            </b>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</perfect-scrollbar>

<div id="atividadeObservacaoModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Informações Adicionais</h4>
      </div>
      <div class="modal-body">
        <p>{{ vm.st_resumo }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
