<div class="container-fluid scroll-wrapper pc-modulo-main">
  <div class="col-md-9 col-lg-9 col-sm-9 scroll-wrapper" ng-class="{'full-screen' : vm.fullscreen}" >
      <button class="btn btn-primary btn-clean btn-full-screen" ng-click="vm.fullscreen = !vm.fullscreen">
        <span class="glyphicon glyphicon-resize-full" ng-if="!vm.fullscreen"></span>
        <span class="glyphicon glyphicon-resize-small" ng-if="vm.fullscreen"></span>
      </button>
      <iframe width="100%" height="100%" allowfullscreen="true" frameborder="0" ng-src="{{vm.modulourl}}" ng-if="vm.modulourl"></iframe>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-3 scroll-wrapper list">
    <perfect-scrollbar class="scroll-wrapper">
      <div class="row">
        <div class="col-md-12 scroll-wrapper ">
          <pw-disciplina-andamento ng-if="vm.sala" id-matricula="vm.MatriculaAtiva.id_matricula" id-entidade="vm.MatriculaAtiva.id_entidade" id-saladeaula="vm.idSalaDeAula" sala="vm.sala"></pw-disciplina-andamento>
        </div>
      </div>
      <div class="row ">
        <pw-moodle-course-contents class="" id-curso="vm.idCurso" id-matricula="vm.idMatricula"

        ng-if="vm.idCurso" id-saladeaula="vm.idSaladeaula" show-voltar="true"></pw-moodle-course-contents>
      </div>
    </perfect-scrollbar>
  </div>

</div>
