@import "../../../scss/common"; // Talvez você precise alterar este destino
.pc-modulo-main {
    .list {
        border-right: $cinza-4 1px solid;
    }
    .btn-full-screen {
        position: absolute;
        top: 0px;
        right: 18px;
        border: 0;
        background: transparent;
    }
}
