body {
    overflow: hidden;
}

object[type*='application/gas-events'] {
    display: none;
}

.app {
    width: 100%;
    height: 100%;

    a {
        cursor: pointer;
    }

    .content-wrapper {
        z-index: 0;
        bottom: 0;
        top: 0;
        position: relative;
        padding: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        @include transition-custom;
    }
}

.loading {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.default-bg {
    background-color: $cinza-2;
}

.message-show {
    padding: 0 $default-padding 0 75px;
    font-size: $font-size-small;
    background-color: $branco;

    .titulo-mensagem {
        width: 100%;
        height: 95px !important;
        position: relative;
        padding: 16px 0;
        border-bottom: 2px solid $cor-marca-3;
        color: $cinza-6;

        .glyphicon {
            font-size: $font-size-h1;
            position: absolute;
            left: -75px;
            top: 30px;
            color: $cor-marca-11;
        }

        .title {
            margin-bottom: 10px;
            font-size: $font-size-h3;
        }

        .desc {
            font-size: $font-size-default;
        }
    }

    .corpo-mensagem {
        // color: #A3A5A7;
        font-size: $font-size-small;
        padding: $default-padding 0;
    }
}

.col-content,
.col-sidebar {
    @include transition-custom;
}
//------------------------------------------------
//** Media querys
@media (max-width: $screen-md-min) {
    .identificacao-aluno {
        display: none;
    }
}
@media (min-width: $grid-float-breakpoint) {
    .topbar {}

    .content-wrapper {
        height: calc(100% - 60px);
    }

    .toggled {
        // Define tamanho da coluna da barra
        .col-sidebar {
            width: 45px;

            .navbar {
                a {
                    padding: 10px 0;
                }

                .navbar-collapse {
                    padding: 0;
                    //Esconde o texto do menus
                    span {
                        // display: none;
                    }
                }
                // Ajusta a logo e o toogle
                .navbar-brand {
                    padding: 0 0 0 3px;

                    .toogle {
                        left: 0;
                        width: 60px;
                        position: relative;
                        height: 60px;
                        @include transition-custom;
                    }

                    .img-logo-topo {
                        height: 100%;
                        margin-left: 0;
                        position: absolute;
                        width: 38px;
                        height: auto;
                    }
                }
                .navbar-toggle {
                    padding-left: 10px;
                    }
            }
        }
        // Define tamanho da coluna do conteudo
        .col-content {
            @include transition-custom;
            width: calc(100% - 45px);
            position: absolute;
            right: 0;
        }

        .topbar {}
    }
}
@media (max-width: $grid-float-breakpoint) {
    padding: 0 $default-padding;

    .identificacao-aluno {
        display: none;
    }

    .glyphicon {
        display: none;
    }
    .background-graphic-h {
        display: none;
    }


}
/**
 * Css dos titulos de funcionalidades
 */
.pc-title-class {
    padding-top: $default-padding;
    padding-bottom: 10px;

    .pc-title-class-icon {
        padding: 10px $default-padding 0;

        i {
            color: $cinza-6;
            font-size: 42px;
        }
    }

    .pc-avatar-class-container{
        .pc-avatar-class-title{
            margin-bottom: 0;
            font-size: 12px;
            color: $cinza-5;
            cursor: default;
        }
    }

    .pc-title-class-title-container {
        .pc-title-class-title {
            font-size: 22px;
            font-weight: normal;
            margin-bottom: 0;
        }

        .pc-title-class-description {
            margin-bottom: 0;
            font-size: 12px;
            color: $cinza-5;
        }
    }
}
/**
 * Marcacao de listas com triangulo
 */
.marked:after,
.marked:before {
    left: 0;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.marked:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: $cinza-2;
    border-width: 12px;
    margin-top: -12px;
}

.marked:before {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: $cinza-8;
    border-width: 14px;
    margin-top: -14px;
}

/**
 * Marcacao de listas com triangulo
 */
.marked-left:after,
.marked-left:before {
    right: 0;
    top: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.marked-left:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: $preto;
    border-width: 15px;
    margin-top: -12px;
}

.marked-left:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: $preto;
    border-width: 17px;
    margin-top: -14px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.border-top-large {
    border-top: solid 5px $cor-marca-4;
}
//Classes para alinhamento utilizando CSS3 flexbox.
.flex-container-vertical-align {
    display: flex;
    align-items: center;
}
// Classe do componente de upload
.form-group-upload {
    min-height: 100px;

    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 100%;
        height: 100px;
        line-height: 90px;
        text-align: center;
        vertical-align: middle;
        span {
            margin: 0 auto;
            vertical-align: middle;
        }
    }

    .dragover {
        border: 5px dashed blue;
    }
}

.alertify-notifier.ajs-top {
  top: 60px !important;
}

// Bootstrap Gutter
.row.row-gutter {
  margin-left: -15px;
  margin-right: -15px;
}

.row.row-gutter > * {
  padding-left: 15px;
  padding-right: 15px;
}

.no-wrap{
    white-space: nowrap;
}

/** FLEXBOX GRID */
.flex-grid {
  display: flex !important;
}

.flex-top {
  align-items: flex-start;
}

.flex-bottom {
  align-items: flex-end;
}

.flex-middle {
  align-items: center;
}

.flex-col {
    display: block;
}

.flex-col-fill {
  flex: 1;
}

.flex-col-left {
  margin-right: auto;
}

.flex-col-right {
  margin-left: auto;
}


.img-circle{
    object-fit: cover;
    object-position: 50% 0%;
    height: 50px;
    width: 50px;
}

perfect-scrollbar{
    overflow: auto;
    height: 100%;
}
.icon-price_tags{
    font-size:16px !important;
}
