.fill_left {
  top: 0;
  bottom: 0;
  position: absolute;
  width: auto;
  height: auto;
}

.fill {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: relative;
  width: auto;
  height: auto;
}

// o Pai precisa ser position: relative ou absolute.
.loading-fill {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  background-color: rgba(0, 0, 0, .1);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  z-index: 99;
}

.toggled {
  .fill {
    left: 180px;
  }
}

.divider {
  border: 0;
  clear: both;
  margin: 15px 0;
  width: 100%;
  &.divider-bordered {
    border-bottom: 2px solid $cinza-3;
  }
  &.divider-colored {
    border-bottom: 2px solid $default;
  }
}


/** REMOVE PROPERTIES **/

.no-pad-top {
  padding-top: 0 !important
}

.no-pad-right {
  padding-right: 0 !important
}

.no-pad-bottom {
  padding-bottom: 0 !important
}

.no-pad-left {
  padding-left: 0 !important
}

.no-mgn-top {
  margin-top: 0 !important
}

.no-mgn-right {
  margin-right: 0 !important
}

.no-mgn-bottom {
  margin-bottom: 0 !important
}

.no-mgn-left {
  margin-left: 0 !important
}

// Utilities
.no-padding {
  padding: 0 !important;
}

.nopadding {
  @extend .no-padding;
  margin: 0 !important;
}

.background-gray {
  background-color: $thumbnail-border;
}

.background-black {
  background-color: $preto; // background-image:  url('../assets/img/slider.png');
}

.maxheight {
  height: 100% !important;
  min-height: 100%;
}

.halfheight {
  height: 50% !important;
  min-height: 50%;
}

.scroll-y {
  overflow-y: auto;
  height: 100%;
}

.scroll-x {
  overflow-x: hidden;
}

.scroll-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.border-top-large {
  border-top-width: 6px;
  border-color: $cor-marca-2;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
}

.no-border-radius {
  border-radius: 0 !important;
}

.autoheight {
  height: auto !important;
}

.padding {
  padding: $default-padding;
}

.padding-right {
  padding-right: $default-padding;
}

.padding-left {
  padding-left: $default-padding;
}

// OCORRENCIAS
// Cores para situações das ocorrencias
.oco-sit-97 {
  color: $brand-danger;
}

.oco-sit-98 {
  color: $brand-info;
}

.oco-sit-99 {
  color: $brand-success;
}

.oco-sit-112 {
  color: $brand-success;
}

// No marge
.no-margin-t {
  margin-top: 0 !important;
}

.no-margin-r {
  margin-right: 0 !important;
}

.no-margin-b {
  margin-bottom: 0 !important;
}

.no-margin-l {
  margin-left: 0 !important;
}

.no-margin-all,
.no-margin {
  margin: 0 !important;
}

.margin-left {
  margin-left: 10px !important;
}

.width100 {
  width: 100% !important;
}

.ng-invalid-required {
  border-color: $brand-danger;
}

.ng-valid-required {
  border-color: $brand-success;
}

.danger {
  color: $brand-danger;
}

.success {
  color: $brand-success;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $cor-marca-1;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $cor-marca-1;
}

.arrow-right-1 {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid $cor-marca-1;
}

.arrow-right-2 {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid $cor-marca-2;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $cor-marca-1;
}

.background-graphic {
  background-image: url("../../../assets/img/grafismo.png");
  background-repeat: repeat-y;
}

.background-graphic-h {
  background-image: url("../../../assets/img/grafismo-h.png");
  background-repeat: repeat-y;
  height: 50px;
  width: 100%;
  display: flex;
}

.toggled {
  .background-graphic-h {
    display: none;
  }
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0 0;
  border: 0 none;
  z-index: 9;
}
