<div class="popover-atendimento">
  <form ng-submit="pwoc.save()">
    <!--Titulo da ocorrencia -->
    <div class="form-group">
      <input class="form-control" type="text" name="st_titulo" required="required" ng-model="pwoc.ocorrencia.st_titulo" placeholder="Título">
    </div>
    <!-- Salas de aula -->
    <div class="form-group" ng-show="pwoc.salasAluno.length">
      <select class="form-control" required="required" ng-model="pwoc.ocorrencia.id_saladeaula" name="id_matricula">
                <option value="" selected> Selecione uma sala..</option>
                <option ng-repeat="sala in pwoc.salasAluno" value="{{sala.id_saladeaula}}">
                    {{sala.st_disciplina | sliceString:true:58:".." }}
                </option>
              </select>
    </div>
    <!--Assuntos da ocorrencia -->
    <div class="form-group" ng-show="pwoc.assuntosOcorrencia.length">
      <select class="form-control" ng-change="pwoc.getSubassunto()" required="required" ng-model="pwoc.ocorrencia.id_assuntopai"
        name="id_assuntopai">
        <option value="" selected> Selecione um assunto..</option>
        <option ng-repeat="assunto in pwoc.assuntosOcorrencia" value="{{assunto.id_assuntoco}}">
          {{assunto.st_assuntoco | sliceString:true:58:".."}}
        </option>
        </select>
    </div>
    <!--Sub assuntos da ocorrencia -->
    <div class="form-group" ng-show="pwoc.subAssuntosOcorrencia.length">
      <select class="form-control" required="required" ng-model="pwoc.ocorrencia.id_assuntoco" name="id_assuntoco">
               <option value="" selected> Selecione um subassunto..</option>
               <option ng-repeat="subassunto in pwoc.subAssuntosOcorrencia" value="{{subassunto.id_assuntoco}}">
                   {{subassunto.st_assuntoco | sliceString:true:58:".."}}
               </option>
             </select>
    </div>
    <!-- Text da ocorrencia -->
    <div class="form-group">
      <textarea required class="form-control" rows="3" ng-model="pwoc.ocorrencia.st_ocorrencia" name="st_ocorrencia"></textarea>
    </div>
    <div class="form-group form-group-upload" ng-show="!vm.enviandoArquivo">
      <label>Enviar Arquivo</label>
      <div ngf-drop ngf-select ng-model="pwoc.ocorrencia.files" ng-change="pwoc.verificacaoArquivo()" class="drop-box" ngf-drag-over-class="'dragover'"
        title="O arquivo deve ser no formato JPEG, PNG, PDF, DOC, DOCX, XLS e XLSX inferior a 10MB" ngf-multiple="false" ngf-allow-dir="false"
        accept="'.docx,.doc,.pdf,.xls,.xlsx,.png,.jpg,.jpeg'">
        <span ng-if="!pwoc.ocorrencia.files.name">Arraste seu arquivo ou clique para selecionar</span>
        <span ng-if="pwoc.ocorrencia.files.name">Arquivo: {{pwoc.ocorrencia.files.name}}</span>
    </div>
    <div ngf-no-file-drop>Este navegador não suporta arrastar/soltar arquivos</div>
</div>
<input type="hidden" ng-model="pwoc.ocorrencia.id_matricula">
<div class="pull-right padding">
  <button type="submit" class="btn btn-success" ladda="pwoc.loading" data-style="expand-left">Confirmar</button>
  <button type="button" class="btn btn-default" popover-trigger="close" ng-click="pwoc.closePopover()">Cancelar</button>
</div>
</form>
</div>
