@import "../../scss/common";
// Talvez você precise alterar este destino
@import "../../scss/customize/variables"; // Talvez você precise alterar este destino
//Propriedadess gerais
.chart {
  .valor-porcentagem {
    span {
      font-family: 'Ubuntu' !important;
    }
  }
}
.chart-portal-g {
  top: 0;
  position: absolute;
  z-index: 12;
}

.circulo-branco {
  padding: 0;
}

.circulo-cinza {
  padding: 0;
}

.valor-porcentagem-g {
  position: absolute !important;
  z-index: 15;

}

.circulo {
  position: absolute;
}

//Propridedade do grafico grande
.big, .small {
  position: relative;
}

.big {
  width: 85px !important;
  height: 85px !important;
  .chart-portal {
    @extend .chart-portal-g;
    // width: 210px !important;
    // height: 105px !important;
    left: 0;
  }

  .circulo {
    font-size: 85px;
    color: $cinza-9;
  }

  .valor-porcentagem {
    @extend .valor-porcentagem-g;
    top: 21px !important;
    left: 26px !important;
    font-size: 29px;
  }

  .icon-center {
    top: 15px !important;
    left: 17px !important;
    @extend .valor-porcentagem-g;
  }

  .corpo-3 {
    font-size: 10px !important;
    right: 7px;
    position: relative;
  }

  .icon-icon_disc , .glyphicon  {
    font-size: 52px;
  }
}

//Propridedade do grafico pequeno

.small {
  // display: inline-block;
  width: 60px !important;
  height: 60px !important;
  .chart-portal {
    @extend .chart-portal-g;
    //width: 60px !important;
    //height: 60px !important;
    left: 0;
  }

  .circulo {
    font-size: 60px;
    color: $cinza-9;
  }

  .valor-porcentagem {
    @extend .valor-porcentagem-g;
    top: 17px !important;
    left: 20px !important;
    font-size: 18px;
  }

  .icon-center {
    top: 17px !important;
    left: 17px !important;
    @extend .valor-porcentagem-g;
  }

  .corpo-3 {
    font-size: 8px !important;
    right: 5px;
    position: relative;
  }

    .icon-icon_disc, .glyphicon {

    font-size: ceil(($font-size-base * 1.6)); //26px
  }
}

// Gera as classes com as cores para utilização no template dos charts.
@each $color in $chartColors {
  .chart-#{$color} {
    //Uso da função unquote necessário para que o valor seja uma cor válida (não-string).
    color: unquote("#"+$color);
  }
}
