<div class="{{vm.mysize}}  chart-{{vm.colorClass}} chart">
  <!-- <span ng-src="{{vm.graphCircle}}" class="circulo-externo" alt="" /> -->
  <span class="icon-circulo_grafico circulo"></span>
  <!-- Se o status não for completo, exibe a porcentagem dentro do chart. -->
  <div ng-if="!vm.salaCompleta && vm.percent != 100" class="valor-porcentagem numeros_grafico">
    <span class="" ng-if="vm.hideNumber != true">{{vm.percent}}
      <span class="corpo-3">
        %
      </span>
    </span>
  </div>
  <div ng-if="!vm.salaCompleta && vm.percent == 100"  class="icon-center">
        <i class="glyphicon glyphicon-ok"></i>
  </div>

  <!-- Se o status for Completo, exibe o ícone dentro do chart. -->
  <div ng-if="vm.salaCompleta" class="icon-center">
    <i class="icon-icon_disc"></i>
  </div>

  <div ng-if="vm.size">
    <canvas id="doughnut" class="chart chart-doughnut chart-portal" chart-options="vm.options" chart-colors="vm.colors"
            chart-data="vm.data" chart-labels="vm.labels" height="{{vm.size}}" width="{{vm.size}}"></canvas>
  </div>
</div>
