@import "../../../scss/common"; // Talvez você precise alterar este destino
  .boas-vindas-container{
    padding: 0px 20px 5px 20px;
    vertical-align: middle;
    .bv-item {
      margin: 10px 0;
    }
    .wrapper-avatar-desc {
      margin: 5px 0;
    }
    .no-video{
      margin-top: 20px !important;
    }

  .border-top-bov {
    border-top: solid 5px $cor-marca-6;
  }
  .coordenador-avatar {
    max-width: 100px;
  }
  .detalhes-coord {
    margin-left: 7px;
    font-weight: bold;
    font-size: 10px;
    .nome-coord {
      font-size: 16px;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
  }
  .icon-icon_video.bv-video-icon {
    font-size: 30px;
  }
  .bv-title-icon {
    font-size: 34px;
  }
  .bv-title {
    margin-left: 10px;
    font-weight: normal;
    font-size: 22px;
  }
  .content-boas-vindas-curso {
    background-color: #F5F5F6;
    height: 100%;
  }
  }
