<div class="container-fluid scroll-wrapper border-top-bov">
  <perfect-scrollbar class="scroll-wrapper">

    <img ng-if="bvC.loading && bvC.loadingGif" ng-src="{{bvC.loadingGif}}" class="loading"/>
    <div ng-if="bvC.resumoBoasVindasObj.embedVideoApresentacao" class="row">
      <!--<div class="col-xs-12">
        <div class="flex-container-vertical-align bv-item">
          <i class="icon-icon_video bv-video-icon"></i>
          <button class="btn btn-link texto" ng-click="bvC.openModalVideo()">
            Video de apresentacao
          </button>
        </div>
      </div>-->
      <div class="embed-responsive embed-responsive-16by9"
           allowFullScreen="true"
           ng-bind-html="bvC.resumoBoasVindasObj.embedVideoApresentacao"></div>
    </div>
    <div class="" ng-if="!bvC.loading && !bvC.resumoBoasVindasObj.embedVideoApresentacao" >
      <div ng-if="bvC.boasVindasCursoFetched && bvC.detalhesCoordenadorFetched" class="col-xs-12 pc-title-class boas-vindas-container">
        <!--<div class="row">
          <div class="col-xs-12">
            <div class="flex-container-vertical-align">
              <i class="icon-icon_disc bv-title-icon"></i>
              <span class="bv-title">Boas vindas ao curso</span>
            </div>
          </div>
        </div>-->
        <div class="row wrapper-avatar-desc" ng-class="{'no-video' : !bvC.resumoBoasVindasObj.embedVideoApresentacao}">
          <div class="flex-container-vertical-align">
            <div ng-if="bvC.avatarExists" class="col-xs-4">
              <img ng-if="bvC.resumoBoasVindasObj.urlAvatar" ng-src="{{bvC.CONFIG.urlG2 + bvC.resumoBoasVindasObj.urlAvatar}}"
                   class="img-responsive img-circle center-block coordenador-avatar">
              <span class="glyphicon icon-icon_pessoa2 avatar-fake img-responsive img-circle center-block coordenador-avatar"
                    ng-if="! bvC.resumoBoasVindasObj.urlAvatar"></span>
            </div>
            <div ng-class="bvC.avatarExists ? 'col-xs-8 text-left' : 'col-xs-12 text-center' ">
              <div class="detalhes-coord">
                <p class="width100">Prof. <span class="nome-coord">{{bvC.resumoBoasVindasObj.nomeCoordenador}}</span></p>
                <p class="width100 texto">Coordenador de Curso</p>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="bvC.resumoBoasVindasObj.descricaoCoordenador && !bvC.resumoBoasVindasObj.embedVideoApresentacao" class="row">
          <div class="col-xs-12">
            <div class="pc-title-class-title-container text-center">
              <p class="pc-title-class-description bv-item">{{bvC.resumoBoasVindasObj.descricaoCoordenador}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </perfect-scrollbar>
</div>
