<div class="container-fluid scroll-wrapper animated slideInRight" ng-if="pwCtrl.showData && !pwCtrl.loading && pwCtrl.professor.st_nomecompleto">
  <div class="row scroll-wrapper">
    <div class="col-md-12">
      <!--Gif de carregando-->
      <img ng-if="pwCtrl.loading && pwCtrl.loadingGif" ng-src="{{pwCtrl.loadingGif}}" class="loading"/>
      <div id="container-professor-sala"
           class="row">
        <div class="col-md-9 text-container">
          <p class="no-margin-all texto" >Tutor</p>
          <h6 class="nome">
            {{pwCtrl.professor.st_nomecompleto | firstAndLast}}
          </h6>
        </div>
        <div class="col-md-3 avatar-container">
          <img ng-if="pwCtrl.professor.st_urlavatar"
               ng-src="{{pwCtrl.professor.st_urlavatar}}"
               alt=" " class="img-circle img-avatar-mini pull-right"/>
          <i ng-if="!pwCtrl.professor.st_urlavatar"
             class="glyphicon icon-icon_pessoa2 avatar-fake img-circle pull-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
