<img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading"/>
<div class="list-group">
    <p class="text-center padding" ng-show="!vm.loading && vm.mensagens.length < 1" >Você não possui nenhuma mensagem.</p>
  <a ng-click="vm.visualizarMensagen($event, mensagem, $index)" id="{{mensagem.id_matricula}}-{{mensagem.id_enviomensagem}}" class="message-list list-group-item"
     ng-repeat="mensagem in vm.mensagens"
     ui-sref="app.mensagens.show({id_matricula: mensagem.id_matricula, id_enviomensagem: mensagem.id_enviomensagem})" target="_parent"
     ng-class="{active: $index == vm.selected}"
  >
    <i class="icon-icon_mens icon-left"></i>
    <p class="list-group-item-heading">
      {{ mensagem.st_mensagem }}
    </p>
    <p class="list-group-item-infos pull-right">{{mensagem.dt_enviar | asDate : 'MMMM/yy'}}</p>
    <p class="list-group-item-text" ng-bind-html="mensagem.st_texto | removeHtmlTags"></p>
  </a>
</div>
