<div class="container-fluid scroll-wrapper">
  <div class="row scroll-wrapper">
    <div class="col-md-12 scroll-wrapper no-padding list-disciplinas"
         ng-if="!pwDc.loading">

      <!--Caso evolução da matricula seja bloqueada. -->
      <div ng-if="pwDc.evolucaoEhBloqueada()">
        <p class="alert alert-warning">{{pwDc.MensagensInfoEvolucaoConstante.BLOQUEADO}}</p>
      </div>

      <!--Caso trancado, exibe mensagem antes da listagem das disciplinas.-->
      <div ng-if="pwDc.evolucaoEhTrancada()">
        <p class="alert alert-warning">{{pwDc.MensagensInfoEvolucaoConstante.TRANCADO}}</p>
      </div>

      <div class="row pc-title-class"
        ng-if="!pwDc.evolucaoEhBloqueada()">
        <div class="col-md-12">
          <div class="pull-left pc-title-class-icon">
            <i class="icon-icon_menu icon-icon_aulas"></i>
          </div>
          <div class="pc-title-class-title-container">
            <p class="pc-title-class-title">Disciplinas</p>
            <p class="pc-title-class-description">Clique em uma disciplina para acessá-la
            </p>
          </div>
        </div>
      </div>

      <perfect-scrollbar class="scroll-wrapper">

        <!--<div class="head-list-disciplinas">
            <i class="icon-icon_aula icon"></i>
          <h2>
            Disciplinas
          </h2>
        </div>-->

        <!--Gif de carregando-->
        <img ng-if="pwDc.loading && pwDc.loadingGif" ng-src="{{pwDc.loadingGif}}" class="loading"/>
        <div class="list-group " ng-if="!pwDc.matriculaAtiva.bl_primeiroacesso">


          <!--Caso evolução da matricula não seja bloqueada. -->
          <div ng-if="!pwDc.evolucaoEhBloqueada()">

            <!--Bloco para exibir aviso de sem registro-->
            <div class="list-group-item animated"
                 ng-if="!pwDc.disciplinas.length">
              <i class="icon-icon_chat icon-left"></i>
              <h5 class="list-group-item-heading">Sem Registros</h5>
              <p class="list-group-item-text">Você não tem nenhuma disciplina para exibição.</p>
            </div>

            <!--Bloco para listar os registro quando o state for o 2 (completo)-->
            <div class="list-group-item"
                 ng-if="pwDc.disciplinas.length"
                 ng-repeat="disciplina in pwDc.disciplinas | orderBy: ['nu_order','dt_abertura']"
                 ng-click="pwDc.redirecionaDisciplina(disciplina)"
            >

              <h6 class="list-group-item-heading">
                <span ng-if="disciplina.id_categoriasala == 2">PRR - </span>
                {{::disciplina.st_disciplina}}
              </h6>
              <p class="list-group-item-text tutor" ng-if="disciplina.st_professor">
                Tutor: {{::disciplina.st_professor}}
              </p>
              <p class="list-group-item-text">
                <span ng-if="disciplina.dt_abertura">
                  {{disciplina.dt_abertura | date: "dd 'de' MMM yyyy"}}
                </span>
                <span ng-if="!disciplina.nu_diaspassados">
                  Previsto
                </span>
                <span ng-if="disciplina.dt_encerramentosala">
                  - {{disciplina.dt_encerramentosala | date: "dd 'de' MMM yyyy"}}
                </span>
              </p>
              <p class="list-group-item-text tutor" ng-if="disciplina.st_status">
                Situação da Disciplina: {{::disciplina.st_status}}
              </p>
              <!-- Gŕafico: ng-if somente se tivar ar_atividades no moodle-->
              <div class="status-percent animated slideInRight" ng-if="disciplina.showChart">
                <pw-chart class="" mysize="small"
                          animation="false"
                          percent="disciplina.ar_moodle.nu_percentualconcluido"
                          statuscomplete="disciplina.st_statuscomplete"
                          statussala="disciplina.id_status"
                          ng-if="disciplina.showChart"
                          tooltip-placement="left"
                          uib-tooltip-html="
                            'Situação: {{disciplina.st_status}} <br />
                            Nota: {{disciplina.nu_notafinal ? disciplina.nu_notafinal : '-'}} <br />
                            Carga horaria {{disciplina.nu_cargahoraria ? disciplina.nu_cargahoraria+'h' : '-'}}'"
                >
                </pw-chart>
              </div>
            </div>

          </div>
        </div>

        <div class="marginLR10" ng-if="pwDc.matriculaAtiva.bl_primeiroacesso">
          <h6 class="pc-title-class">
            {{pwDc.dadosUsuario. stNomeCurto + pwDc.MensagemPadrao.ACEITE_CONTRATO_DISCIPLINAS}}
          </h6>
          <button type="button" ng-click="pwDc.abrirPrimeiroAcesso()" class="btn btn-link pull-right ng-scope">
            Clique aqui para abrir o primeiro acesso
          </button>
        </div>

      </perfect-scrollbar>
    </div>
  </div>
</div>
