@import "../../../scss/common";
// Talvez você precise alterar este destino
@import "../../../scss/customize/variables";
.list-disciplinas {
  .icon-icon_aula {
    font-size: $font-size-h1;
  }
  .head-list-disciplinas {
    height: 60px;
    display: flex;
    align-items: center;
    h2 {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }
  .scroll-wrapper{
    height: calc(100% - 60px);

  }
  .list-group {
    .list-group-item {
      cursor: pointer;
      height: 160px;
      position: relative;
      &:first-child {
        border-top: 0;
      }
      &::after {
        width: 85px;
        background-color: $branco;
        height: 1px;
        position: absolute;
        display: block;
        padding: 0;
        margin: 0;
        right: 0;
        bottom: -1px;
        content: "";
        z-index: 1;
      }
      .tutor {
        margin-bottom: 5px;
      }
      .list-group-item-heading,
      .list-group-item-text {
        padding-right: 65px;
      }
      .list-group-item-text {
        margin-left: 5px;
        color: $cinza-6;
      }
      .list-group-item-heading {
        font-size: $font-size-large;
        font-weight: 300;
        @include text-lines($font-size-large, 2);
        height: 45px;
        margin-bottom: 10px
      }
    }
    .status-percent {
      height: 60px;
      position: absolute;
      top: 40%;
      margin-top: -30px;
      right: 30px;
    }
  }
}

.marginLR10 {
  margin: 0 10px;
}
