// Talvez você precise alterar este destino
@import "../../../scss/common";
@import "../../../scss/customize/variables";
.primeiro-acesso {
  background: $preto;
  display: inline-block;
  height: auto;
  color: $branco;

  .marked-left-white{
    @include marked-left($branco,60%);
  }
  .bemvindo {
    padding: 20px 35px 10px 35px;
    font-size: $font-size-small;
    float: left;
    .title-primeiro {
      color: $cinza-4;
      font-weight: 300;
    }
    .title-bemvindo {
      margin-top: 10px;
      font-size: 46px;
      // color: $cinza-4;
    }
    .descricao {
      color: $cinza-3;
      // text-align: justify;
    }
    .title-salas {
      color: $default3;
      font-weight: 300;
    }
    .text-lembrar{
      font-size: floor(($font-size-base * 0.7));
    }
  }
  .contrato {
    height: 100%;
    margin-bottom: 0px;
    background-color: $branco;
    //textos
    .title-concordo {
      color: $cinza-6;
    }
  }
  .texto-contrato {
    text-align: justify;
    overflow-y: auto;
    // border-bottom: 1px solid $cinza-5;
    padding: 5px;
    max-height: 449px;
    background-color: $branco;
    color: $preto;
    margin-bottom: 10px;
    font-size: floor(($font-size-base * 0.8));
  }
  .atendimento {
    background: $branco;
    color: $preto;
    .title-atendimento {
      color: $default2;
      font-weight: 300;
    }
    .form-atendimento {
      padding: $default-padding $default-padding 0 $default-padding;
      .text-area {
        height: 180px;
      }
    }
  }
  a {
    color: #fff;
    cursor: pointer;
    a:hover {
      font-weight: bold;
    }
  }
  p {
    margin-bottom: 20px;
  }
  h3 {
    size: $font-size-h3;
    margin-bottom: 15px;
  }
  h6 {
    size: $font-size-h6;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .btn {
    margin-bottom: 5px;
  }
  .floatleft {
    float: left;
  }
  .right {
    right: 0;
  }


}
