<div class="col-md-12 col-sm-12 col-lg-12 scroll-wrapper primeiro-acesso no-margin-all">
  <div ng-show="!pwpa.atendimento" class="  ">
    <div class="col-lg-6 no-margin-all marked-left" ng-show="!pwpa.exibircontrato">
      <img src="{{pwpa.imgAluno}}" alt="Primeiro Acesso" class="img-responsive animated slideInRight">
    </div>
    <div class="col-lg-6 animated slideInRight">
      <div class="bemvindo" ng-show="!pwpa.atendimento">
        <h4 class="title-primeiro">Primeiro Acesso</h4>
        <h1 class="title-bemvindo">Bem-vindo</h1>
        <p class="descricao ng-binding">Olá <b>
                {{pwpa.dados.stNomeCompleto | firstAndLast}}
                </b>,
        </p>
        <p class="descricao ng-binding" ng-show="!pwpa.bl_ocorrencia ">
          Este é o seu ambiente virtual de aprendizagem.<br> Ele está sempre disponível para você estudar quando e onde quiser.
          Para uma experiência ainda mais rica, baixe o aplicativo Portal do Aluno Unyleya no seu celular.<br>
        </p>
        <div ng-show="!pwpa.exibircontrato && !pwpa.bl_ocorrencia">
          <h5 class="ng-binding ">
            Bons estudos!
          </h5>
          <h6 class="title-salas" ng-show="!pwpa.exibircontrato">
            Para iniciar o seu curso, você precisa aceitar o seu contrato. <br>
          </h6>
        </div>
        <div ng-show="pwpa.exibircontrato && !pwpa.bl_ocorrencia">
          <h6 class="title-salas">
            Se você tiver alguma dúvida ou quiser solicitar alguma alteração, clique no botão Atendimento. <br>
          </h6>
          <div class="radio">
            <label for="termoaceite" class=" texto ">
                    <input type="radio" id="termoaceite" ng-click="pwpa.termoAceite()">
                    Concordo com os Termos do Contrato e confirmo a veracidade dos meus dados
                </label>
          </div>
        </div>
        <div ng-show="pwpa.bl_ocorrencia">
          <p class="descricao ng-binding">
            Existe um atendimento relacionado ao seu primeiro acesso. <br> Nossos atendentes já estão tomando as devidas providências
            assim que o seu atendimento for finalizado você poderá dar continuidade ao processo de aceite do contrato.
          </p>
          <h6 class="title-salas">
            Caso queria visualizar ou interagir no seu atendimento clique abaixo
          </h6>
        </div>
        <div class="form-group text-right margin">
            <button type="button" ng-show="!pwpa.bl_ocorrencia" ng-click="pwpa.abrirAtendimento()" class="btn btn-sm btn-black">Atendimento
                </button>
            <button type="button" ng-click="pwpa.viewContrato()" ng-show="!pwpa.exibircontrato" class="btn btn-sm btn-black margin-left">Visualizar Contrato
                </button>
            <button type="button" ng-show="pwpa.btntermoaceite" ng-click="pwpa.aceiteContrato()" class="btn btn-sm btn-black margin-left">Confirmar
                </button>
            <button type="button" ng-show="pwpa.bl_ocorrencia" ng-click="pwpa.goToOcorrencia()" class="btn btn-sm btn-black margin-left">Acessar Atendimento
                </button>
        </div>
        <a ng-click="pwpa.closePrimeiroAcesso()" class="text-lembrar ng-binding pull-right">
        Lembrar mais tarde
        </a>
      </div>
    </div>
    <div class="contrato col-lg-6 scroll-wrapper no-padding animated slideInRight" ng-animate-ref="banner" ng-show="pwpa.exibircontrato && !pwpa.atendimento">
      <perfect-scrollbar class="scroll-wrapper texto-contrato" opts="pwpa.scrollopts">
        <div class="" ng-bind-html="pwpa.dadosContrato.st_texto"></div>
      </perfect-scrollbar>
    </div>
  </div>
  <div class="atendimento col-lg-12" ng-show="pwpa.atendimento">
    <div class="col-lg-6  animated slideInLeft">
      <img src="{{pwpa.imgAtendente}}" alt="Primeiro Acesso" class="img-responsive">
    </div>
    <div class="col-lg-6 form-atendimento  animated slideInRight">
      <form ng-submit="pwpa.save()">
        <h4 class="title-atendimento">Atendimento Personalizado</h4>
        <!-- Text da ocorrencia -->
        <small class="light"> Em que podemos ajudar?</small>
        <div class="form-group">
          <textarea required class="form-control text-area" rows="3" ng-model="pwpa.ocorrencia.st_ocorrencia" name="st_ocorrencia"></textarea>
        </div>
        <div class="form-group form-group-upload" ng-show="!pwpa.enviandoArquivo">
          <div ngf-drop ngf-select ng-model="pwpa.ocorrencia.files" ng-change="pwpa.verificacaoArquivo()" class="drop-box" ngf-drag-over-class="'dragover'"
            title="Formatos Aceitos: JPG, PNG, DOC, DOCX, XLS, XLSX e PDF" ngf-multiple="false" ngf-allow-dir="false" accept="'.docx,.doc,.pdf,.xls,.xlsx,.png,.jpg,.jpeg'">
            <span ng-show="!pwpa.ocorrencia.files.name">Para enviar arquivo arraste ou clique para selecionar</span>
            <span ng-show="pwpa.ocorrencia.files.name">Arquivo: {{pwpa.ocorrencia.files.name}}</span>
        </div>
        <div ngf-no-file-drop>Este navegador não suporta arrastar/soltar arquivos</div>
    </div>
    <div class="pull-right">
      <button type="submit" class="btn btn-success margin-left">Salvar</button>
      <button type="button" class="btn btn-default" ng-click="pwpa.closeAtendimento()">Cancelar</button>
    </div>
    </form>
  </div>
</div>
</div>
</div>
