<div class="container-fluid scroll-wrapper no-padding curso-descricao-container">
    <div class="row scroll-wrapper">
        <div class="col-md-12 scroll-wrapper no-margin-all no-padding">
            <div ng-if="pwcur.matriculaAluno.st_imagem && !pwcur.statusState" class="curso-imagem">
                <div class="banner_holderImage" ng-style="{'background-image':'url('+ pwcur.matriculaAluno.st_imagemUrl +')'}"></div>
            </div><div ng-class="{'full-width': !pwcur.matriculaAluno.st_imagem || pwcur.statusState}" class="maxheight scroll-wrapper curso-descricao">
              <div class="container-out">

             <div class="text-container">
                <h4 class="inicio-turma"> Início: {{pwcur.matriculaAluno.dt_inicioturma | date : "MMMM"}}
                    {{pwcur.matriculaAluno.dt_inicioturma | date : "yyyy"}}</h4>
                <h2 class="title-curso">{{pwcur.matriculaAluno.st_curso}}</h2>
                <!-- <p class="texto">{{pwcur.matriculaAluno.st_descricao | removeHtmlTags}}</p> -->
              </div>
            </div>
            </div>
        </div>
    </div>
</div>
