@import "../../../scss/common";
@import "../../../scss/customize/variables";
.curso-descricao-container {
  .curso-descricao {
    background-color: $preto;
    width: 50%;
    display: inline-block;
    .title-curso {
      font-weight: 200;
      color: $branco;
    }
    .inicio-turma {
      color: $cinza-7;
      font-weight: 200;
    }
    .container-out {
      padding: 0px 50px;
      position: absolute;
      width: 100%;
      height: 100%;
      display: table;
      .text-container {
        p {
          font-weight: 300;
          text-align: justify;
          // color: #fff;
        }
        vertical-align:middle;
        display:table-cell;
      }
    }
    //redimensiona caso o tamanho da tela para nao quebrar o layout
    @media screen and (max-width: 1300px) {
      h2 {
        font-size: floor(($font-size-base * 1.4)) !important;
        font-weight: normal;
      }
    }
    h2,
    h5,
    p {
      margin-top: 10px;
      color: $branco;
    }
  }
  .full-width {
    width: 100% !important;
  }
  .curso-imagem {
    display: inline-block;
    width: 50%;
    height: 100%;
    min-height: 200px;
    position: relative;
    outline: 1px dotted red;
    .banner_holderImage {
      height: 100%;
      position: relative;
      background: url("http://placekitten.com/g/800/600") no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  @media only screen and (max-width: 992px) {
    .curso-descricao {
      width: 100%;
    }
    .curso-imagem {
      display: none;
    }
  }
}
