<div class="container-fluid moodle-course-contents">
  <div class="row">
    <div class="col-lg-12" ng-if="vm.errormessage">

      <div class="row pc-title-class">
        <div class="col-md-12">
          <div class="pc-title-class-title-container">
            <p class="pc-title-class-description">{{ vm.errormessage }}</p>
          </div>
        </div>
      </div>

    </div>

    <uib-accordion close-others="true" class="" ng-if="!vm.errormessage">
      <div class="panel-default"
           uib-accordion-group
           is-open="content.selected"
           ng-class="[content.moduleStatusCompletionClass]"
           ng-repeat="content in vm.contents"
      >

        <uib-accordion-heading>{{ content.name }}</uib-accordion-heading>
        <ul class="list-group">
          <!-- Cada atividade que retona, mostra somente se tiver nome -->
          <li class="list-group-item animated slideInDown"
              ng-repeat="module in content.modules"
              ng-if="module.name.length > 1"
              ng-class="[{atividade : module.url, 'titulo-uni' : !module.url, 'module-selected' : module.selected},
              module.activityStatusCompletionClass]"
              uib-tooltip="{{module.activityStatusCompletionText}}"
          >

            <i class="glyphicon icon pull-left" ng-class="vm.getIcon(module.modname)"></i>

            <!-- Se não tiver url é somente um titulo -->
            <span ng-if="!module.url">
              <strong>{{module.name}}</strong>
            </span>

            <!-- Se tiver url é um link de uma atividade  -->
            <a ng-if="module.url"
               ui-sref="app.modulo({ idMatriculaAtiva: vm.idMatricula,
                idSaladeaula: vm.idSaladeaula, idCurso: vm.idCurso,
                idModulo: module.id})">
              {{module.name}}
            </a>
          </li>
        </ul>
      </div>
    </uib-accordion>
  </div>
  <div ng-if="vm.showVoltar" class="row">
    <a class="text-center" ng-click="vm.redirecionaDisciplina()">
      <h5>
        <i class="glyphicon icon glyphicon-chevron-left"></i>
        Voltar para disciplina
      </h5>
    </a>
  </div>
</div>
