@import "../../../scss/common";
// Talvez você precise alterar este destino
@import "../../../scss/customize/variables"; // Talvez você precise alterar este destino
.moodle-course-contents {

  .curso-completo .panel-heading,
  .curso-incompleto .panel-heading,
  .curso-indisponivel .panel-heading{
    position: relative;
    padding-left: 36px;
  }
  .curso-completo .panel-heading:before,
  .curso-incompleto .panel-heading:before,
  .curso-indisponivel .panel-heading:before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 10px;
  }
  .curso-completo .panel-heading:before {
    background-color: $brand-success;
  }
  .curso-incompleto .panel-heading:before {
    background-color: $brand-warning;
  }
  .curso-indisponivel .panel-heading:before {
    background-color: $brand-disabled;
  }
  .panel.panel-default {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border: 0;

    .panel-collapse {
      .panel-body {
        padding: 0;
        border: 0;
        margin: 0;
      }
      color: $cinza-6;

      .list-group {
        margin: 0;
        // background-color: $cor-marca-3 ;
        li:first-of-type {
          border-top: 1px $cinza-4 solid;
        }

        //Cada titulo de unided interno
        .titulo-uni {
          @include linear-gradient(90deg, rgba($default4, 0.15), rgba($default4, 0.02));

        }
        // Cada atividade do moodle
        .atividade {
          padding-left: 36px;
          background-color: $cinza-2 !important;
        }

        .atividade:before {
          display: block;
          content: ".";
          color: transparent;
          font-size: 0;
          height: 100%;
          position: absolute;
          padding: 10px 0;
          top: 0;
          bottom: 0;
          box-sizing: border-box;
        }

        .atividade-completa:before {
          border-left: 10px $brand-success solid;
          left: 0;
        }
        .atividade-incompleta:before {
          border-left: 10px $brand-warning solid;
          left: 0;
        }
        .atividade-sem-acompanhamento:before {
          border-left: 10px $cinza-6 solid;
          left: 0;
        }

        .module-selected {
          font-weight: bold;

          &:after {
            position: absolute;
            top: 50%;
            right: 0;
            content: '';
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 15px solid $cinza-4;
            margin-top: -15px;
          }
        }

        .list-group-item {
          font-size: $font-size-base;
          height: 60px;
          border-top: 3px $branco solid;
          text-align: left;
          width: 100%;
          line-height: 35px;
          vertical-align: middle;
          display: inline-block;

          span {
            @include text-lines($font-size-base, 1);
            max-height: 35px;
            line-height: 35px;
          }

          a {
            @include text-lines($font-size-base, 1);
            margin-left: 46px;
            color: $cinza-6;
            max-height: 35px;
            line-height: 35px;
            vertical-align: middle;
          }
        }

        .icon {
          font-size: 36px;
          height: 60px;
          line-height: 32px;
        }
      }
    }

    .panel-heading {
      height: 60px;
      margin-top: 0 !important;
      border-style: solid;
      border-top-width: 1px;
      border-bottom-width: 0;
      border-left-width: 0;
      border-right-width: 0;
      border-color: $cinza-4;
      background-color: $branco;
      position: relative;

      .panel-title {
        line-height: 42px;
        vertical-align: middle;
        display: inline-block;

        a {
          text-decoration: none;
          display: block;
        }
      }
    }

  }

}
