// Talvez você precise alterar este destino
@import "../../../scss/common";
@import "../../../scss/customize/variables";

#content-list-avisos {
  position: relative;
  border-top: solid 5px $cor-marca-4;
  .list-avisos {

    a.list-group-item {
      height: 75px;
      .list-group-item-heading {
        font-size: 19px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      &:hover {
        background-color: $cor-marca-3;
        border-color: $cor-marca-3;
        color: $branco;
        cursor: pointer;
        h3 {
          color: $branco;
        }
        .list-group-item-heading, .list-group-item-text  {
          color: $branco;
        }
      }
    }

  }

  .content-btn-show-all {
    padding-right: $default-padding;
    padding-left: $default-padding;
    background-color: $branco;
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 30px !important;
    .btn-link {
      font-size: $font-size-default;
    }
  }
}
