<div class="container-fluid scroll-wrapper">
  <div class="row scroll-wrapper">
    <div class="col-md-12 scroll-wrapper no-padding" id="content-list-avisos">

      <perfect-scrollbar ng-class="{'scroll-wrapper' : avisoCtrl.statusState }">
        <img ng-if="avisoCtrl.loading && avisoCtrl.loadingGif" ng-src="{{avisoCtrl.loadingGif}}" class="loading"/>
        <div class="list-group list-avisos maxheight animated slideInUp" ng-if="!avisoCtrl.loading">
          <!--Gif de carregando-->

          <!--Bloco para exibir aviso de sem registro-->
          <div class="list-group-item" ng-if="!avisoCtrl.mensagens.length && !avisoCtrl.loading">
            <i class="icon-icon_chat icon-left"></i>
            <h5 class="list-group-item-heading">Sem Avisos Recentes</h5>
            <p class="list-group-item-text">Você não tem nenhum aviso importante no momento.</p>
          </div>

          <!--Bloco para listar os registro quando o state for o 2 (completo)-->
          <a ng-click="avisoCtrl.redirecionarAviso(aviso, $index)" class="list-group-item"
             ng-if="avisoCtrl.mensagens.length"
             ng-repeat="aviso in avisoCtrl.mensagens">
            <i class="{{aviso.icon}} icon-left"></i>
            <h5 class="list-group-item-heading">{{::aviso.title}}</h5>
            <span class="list-group-item-infos pull-right">{{::aviso.send_date | asDate : 'dd'}} de {{::aviso.send_date | asDate : 'MMMM'}}</span>
            <p class="list-group-item-text" ng-bind-html="::aviso.text | removeHtmlTags"></p>
          </a>
        </div>
      </perfect-scrollbar>
      <!--Bloco com o botão de mostrar todos ou menos-->
      <div class="content-btn-show-all"
      ng-if="avisoCtrl.mensagens.length && !avisoCtrl.loading">
        <button type="button" ng-if="!avisoCtrl.statusState" ng-click="avisoCtrl.changeState()"
                class="btn btn-link pull-right">
          Visualizar Mais
        </button>
        <button type="button" ng-if="avisoCtrl.statusState" ng-click="avisoCtrl.changeState()"
                class="btn btn-link pull-right">
          Visualizar Menos
        </button>
      </div>
    </div>
  </div>
</div>
