<div class="login-overlay seleciona-curso scroll-wrapper" ng-show="!vm.loginLoading">
  <div class="seleciona-curso-box">
    <div class="seleciona-curso-box-header">
      <img ng-src="{{vm.logoUrl}}"/>
    </div>
    <perfect-scrollbar class="seleciona-curso-box-scroll scroll-wrapper">
      <div class="seleciona-curso-box-body">
        <img ng-src="{{vm.user_avatar}}" class="user-avatar img-circle" align="top" ng-if="vm.user_avatar"/>
        <span class="glyphicon icon-icon_pessoa3 avatar-fake" ng-if="!vm.user_avatar"></span>
        <h5 class="subtitulo user-name">{{vm.user_name}}</h5>
        <span class="user-email">{{vm.user_email}}</span>
        <div class="cursos">
          <p>Selecione o curso:</p>

          <ul>
            <li ng-repeat="curso in vm.cursos track by curso.id_matricula"
                ng-class="{'course-disabled' : !curso.loginPermitido}">
              <a target="_parent" title="{{curso.st_curso}}">
                            <span ng-if="curso.st_mensagem"
                                  class="glyphicon glyphicon-info-sign"
                                  uib-popover="{{curso.st_mensagem}}"
                                  popover-placement="right"
                                  popover-append-to-body="true"
                                  popover-trigger="mouseenter"
                                  popover-is-open="popoverIsOpen"
                                  ng-mouseenter="popoverIsOpen = !popoverIsOpen"
                            >
                            </span>
                <p class="descricao-curso"
                   ng-click="vm.selecionarCurso(curso)">
                  {{curso.st_curso |
                  capitalize:true | sliceString:true:40}}
                </p>
                <i class="icon-menu icon icon-icon_disc"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </perfect-scrollbar>
    <div class="seleciona-curso-box-footer text-right">
      <button class="btn btn-primary"
              ng-click="vm.redirecionaTelaLogin()">Voltar
      </button>
    </div>
  </div>
</div>
