<div class="container-fluid scroll-wrapper no-padding disciplina-descricao-container">
  <div class="row row-imagem animated slideInDown">
    <div ng-if="vm.disciplina.st_imagemdisciplina" class="disciplina-imagem">
      <div class="banner_holderImage" ng-style="{'background-image':'url('+ vm.config.urlG2 + vm.disciplina.st_imagemdisciplina +')'}">

      </div>
    </div>
  </div>
  <div class="row row-texto animated slideInUp">
    <div class="col-md-12 scroll-wrapper no-margin-all no-padding">
      <div class="maxheight scroll-wrapper disciplina-descricao">
        <div class="container-out">
          <div class="text-container">
            <h3>
              <span ng-if="vm.disciplina.id_categoriasala == 2">PRR - </span>
              {{vm.disciplina.st_disciplina}}
            </h3>
            <p class="texto" ng-bind-html="vm.disciplina.st_descricaodisciplina"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
