@import "../../../scss/common";
@import "../../../scss/customize/variables";
.disciplina-descricao-container {
  .row-texto {
    background-color: lighten(desaturate($default4, 5%), 55%);
  }
  .disciplina-descricao {
    .container-out {
      padding: 16px 24px;
      position: absolute;
      width: 100%;
      height: 100%;
      display: table;
      .text-container {
        padding: 0px;
        h3 {
          margin-top: 0px;
          // text-align: justify;
          font-weight: 300;
        }
        p {
          text-align: justify;
        }
        vertical-align:middle;
        // display:table-cell;
      }
    }
  }
  .row {
    height: 50%;
  }
  .disciplina-imagem {
    display: inline-block;
    width: 100%;
    height: 100%;
    min-height: 200px;
    position: relative;
    /*outline: 1px dotted red;*/
    .banner_holderImage {
      min-height: 200px;
      height: 100%;
      position: relative;
      background: url("http://placekitten.com/g/1024/1024") no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  @media screen and (max-width: 1300px) {
    .container-out {
      padding: 0px 20px !important;
    }
    h2 {
      font-size: floor(($font-size-base * 1.4)) !important;
    }
    p {
      font-size: $font-size-default !important;
    }
  }
  @media only screen and (max-width: 992px) {
    .row-texto {
      width: 100%;
      .container-out {
        padding: 0px 10px;
      }
    }
    .row-imagem {
      display: none;
    }
  }
}
