<div uib-collapse="vm.isCollapsed" mwl-collapse-fallback="vm.isCollapsed">

  <div class="calendario-agendamentos">
    <table class="table table-bordered table-condensed">
      <thead>
      <tr ng-if="vm.templateScope.agendamento.nu_presenca === null || vm.templateScope.agendamento.nu_presenca === undefined">
        <th></th>
        <th>Aplicador</th>
        <th>Local de Prova</th>
        <th>UF</th>
        <th>Cidade</th>
        <th>Data da Prova</th>
        <th>Início</th>
        <th>Término</th>
      </tr>
      <tr ng-if="vm.templateScope.agendamento.nu_presenca !== null && vm.templateScope.agendamento.nu_presenca !== undefined">
        <th>Prova</th>
        <th>Atividades</th>
        <th>Responsável</th>
        <th>Data da Prova</th>
        <th>Presença</th>
      </tr>
      </thead>
      <tbody>
      <tr
        drop-data="{event: event}"
        mwl-draggable="event.draggable === true"
        ng-if="vm.templateScope.agendamento.nu_presenca === null || vm.templateScope.agendamento.nu_presenca === undefined"
        ng-repeat="event in vm.events | orderBy:'startsAt' track by event.calendarEventId"
      >
        <td><input type="radio"
                   ng-if="event.status == 'disponivel'"
                   ng-model="vm.templateScope.agendamento.id_avaliacaoaplicacao"
                   ng-value="event.data.id_avaliacaoaplicacao"
        /></td>
        <td class="text-left">{{ event.data.st_aplicadorprova }}</td>
        <td class="text-left">{{ event.data.st_endereco }}</td>
        <td>{{ event.data.sg_uf }}</td>
        <td>{{ event.data.st_nomemunicipio }}</td>
        <td class="no-wrap">{{ event.data.dt_aplicacao | date : 'dd/MM/yyyy' }}</td>
        <td>{{ event.data.hr_inicio }}</td>
        <td>{{ event.data.hr_fim }}</td>
      </tr>
      <tr
        ng-if="vm.templateScope.agendamento.nu_presenca !== null && vm.templateScope.agendamento.nu_presenca !== undefined"
        ng-repeat="event in vm.events | orderBy:'startsAt' track by event.calendarEventId"
      >
        <td>{{event.agendamento.st_avaliacao}}</td>
        <td>
          {{event.agendamento.nu_presenca === null ? (event.agendamento.st_situacao || 'Aluno Apto') : 'Prova realizada'}}
        </td>
        <td>{{event.agendamento.st_nomecompleto}}</td>
        <td class="no-wrap">{{ event.agendamento.dt_aplicacao | date : 'dd/MM/yyyy' }}</td>
        <td>
          {{ event.agendamento.nu_presenca ? 'Presente' : 'Ausente' }}
        </td>
      </tr>
      </tbody>
    </table>


    <div class="text-right agendamento-actions" ng-if="vm.templateScope.mostrarBotaoAgendamento()">
      <button class="btn btn-primary" ng-click="vm.templateScope.salvarAgendamento()">
        Confirmar
        <span ng-if="vm.templateScope.formReagendar">Reagendamento</span>
      </button>
      <button class="btn btn-primary" ng-click="vm.templateScope.fecharFormReagendar()">
        Cancelar
      </button>
    </div>

    <div class="text-right agendamento-actions" ng-if="vm.templateScope.mostrarBotaoReagendamento()">
      <button class="btn btn-primary"
              ng-click="vm.templateScope.abrirFormReagendar()"
              ng-model="vm.templateScope.calendario.calendarView"
              uib-btn-radio="'year'"
      >
        Reagendar
      </button>
    </div>

  </div>

  <!--
  <div class="cal-slide-box">
    <div class="cal-slide-content cal-event-list">
      <ul class="unstyled list-unstyled">

        <li
          ng-repeat="event in vm.events | orderBy:'startsAt' track by event.calendarEventId"
          ng-class="event.cssClass"
          mwl-draggable="event.draggable === true"
          drop-data="{event: event}">
          <span class="pull-left event" ng-style="{backgroundColor: event.color.primary}"></span>
          &nbsp;
          <a
            href="javascript:;"
            class="event-item"
            ng-click="vm.onEventClick({calendarEvent: event})">
            <span ng-bind-html="isMonthView ? vm.calendarEventTitle.monthView(event) : vm.calendarEventTitle.yearView(event) | calendarTrustAsHtml"></span>
          </a>

          <a
            href="javascript:;"
            class="event-item-action"
            ng-class="action.cssClass"
            ng-repeat="action in event.actions track by $index"
            ng-bind-html="action.label | calendarTrustAsHtml"
            ng-click="action.onClick({calendarEvent: event})">
          </a>

        </li>

      </ul>
    </div>
  </div>
  -->

</div>
