<perfect-scrollbar id="agendamento-form" class="scroll-wrapper container-fluid message-show">

  <div class="loading-fill" ng-if="vm.loading && vm.loadingGif">
    <img ng-src="{{vm.loadingGif}}"/>
  </div>

  <form name="agendamentoForm" ng-if="vm.etapaAtual == 0" ng-submit="vm.salvarEnderecoCorrespondencia($event)">
    <div class="titulo-mensagem">
      <span class="glyphicon icon-icon_disc"></span>
      <h1 class="title">Confirme seu endereço</h1>
      <div>
        É necessário confirmar seu endereço para que possa realizar o agendamento de suas provas. Preencha corretamente o formulário abaixo para liberar o agendamento
      </div>
    </div>

    <hr class="divider"/>

    <div class="row row-gutter">

      <div class="col-xs-12">
        <h4>Endereço para correspondência</h4>
      </div>

      <div class="col-md-4 form-group">
        <label for="st_cep">CEP</label>
        <input id="st_cep" class="form-control" type="text" required="required" pattern="\d{5}-\d{3}"
               ng-change="vm.buscarEnderecoCep()"
               ng-model="vm.endereco.st_cep"
               ui-br-cep-mask
        />
      </div>

      <div class="col-md-8 form-group">
        <label for="st_endereco">Endereço</label>
        <input id="st_endereco" class="form-control" type="text" required="required" ng-model="vm.endereco.st_endereco"/>
      </div>

      <div class="col-md-4 form-group">
        <label for="nu_numero">Número</label>
        <input id="nu_numero" class="form-control" type="text" required="required" maxlength="10" ng-model="vm.endereco.nu_numero"/>
      </div>

      <div class="col-md-8 form-group">
        <label for="st_complemento">Complemento</label>
        <input id="st_complemento" class="form-control" type="text" ng-model="vm.endereco.st_complemento"/>
      </div>

      <div class="col-md-4 form-group">
        <label for="sg_uf">UF</label>
        <select id="sg_uf" class="form-control" required="required"
                ng-change="vm.buscarMunicipios(vm.endereco.sg_uf)"
                ng-model="vm.endereco.sg_uf"
                ng-options="item.sg_uf as item.st_uf for item in vm.ufs"
        ></select>
      </div>

      <div class="col-md-8 form-group">
        <label for="id_municipio">Cidade</label>
        <select id="id_municipio" class="form-control" required="required"
                ng-model="vm.endereco.id_municipio"
                ng-options="item.id_municipio as item.st_nomemunicipio for item in vm.municipios"
        ></select>
      </div>

      <div class="col-md-4 form-group">
        <label for="st_bairro">Bairro</label>
        <input id="st_bairro" class="form-control" type="text" required="required" ng-model="vm.endereco.st_bairro"/>
      </div>

      <div class="col-md-8 form-group">
        <label for="id_pais">País</label>
        <select id="id_pais" class="form-control" required="required"
                ng-model="vm.endereco.id_pais"
                ng-options="item.id_pais as item.st_nomepais for item in vm.paises"
        ></select>
      </div>

      <div class="col-xs-12 text-right">
        <button class="btn btn-primary" type="submit">
          Confirmar
        </button>
      </div>

    </div>
  </form>

  <div ng-if="vm.etapaAtual == 1">
    <div class="titulo-mensagem">
      <span class="glyphicon icon-icon_data"></span>
      <h1 class="title">Agendamento de Prova</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>

    <hr class="divider"/>

    <div class="flex-grid">
      <div class="flex-col flex-col-fill">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur at aut deleniti dolorem ea esse et eum harum, labore modi necessitatibus, nemo odio optio quisquam ratione sequi, sunt suscipit?
      </div>
      <div class="flex-col agendamento-table">
        <table class="table table-condensed">
          <tr class="agendamento-legenda" ng-class="legenda.class" ng-repeat="legenda in vm.legendas">
            <td>
              <small>{{legenda.label}}</small>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>

    <hr class="divider"/>

    <div class="row row-gutter">
      <div class="col-md-4 form-group">
        <label for="sg_uf">UF</label>
        <select id="sg_uf" class="form-control" required="required"
                ng-change="vm.buscarMunicipios(vm.agendamento.sg_uf)"
                ng-model="vm.agendamento.sg_uf"
                ng-options="item.sg_uf as item.st_uf for item in vm.ufs"
        ></select>
      </div>

      <div class="col-md-8 form-group">
        <label for="id_municipio">Cidade</label>
        <select id="id_municipio" class="form-control" required="required"
                ng-change="vm.prepararCalendario()"
                ng-model="vm.agendamento.id_municipio"
                ng-options="item.id_municipio as item.st_nomemunicipio for item in vm.municipios"
        ></select>
      </div>
    </div>

    <hr class="divider"/>

    <div class="row row-gutter">
      <div class="col-md-4">
        <div>
          <label class="agendamento-subheader">Disciplinas liberadas</label>
        </div>
        <hr class="divider divider-bordered"/>
        <div class="agendamento-disciplina" ng-repeat="disciplina in vm.disciplinas">
          {{disciplina.st_tituloexibicao}}
        </div>

        <div ng-if="vm.ultimoAgendamento.id_situacao == vm.SituacaoConstante.AGENDAMENTO_AGENDADO">
          <hr class="divider divider-bordered"/>
          <button class="btn btn-primary" type="button" ng-click="vm.abrirComprovanteAgendamento(vm.ultimoAgendamento.id_avaliacaoagendamento)">
            <i class="icon-icon_offline"></i>
            Comprovante de Agendamento
          </button>
        </div>

      </div>

      <div class="col-md-8">

        <div class="flex-grid text-center no-select">
          <div class="flex-col flex-col-right">
            <a class="agendamento-cal-link" ng-click="vm.alterarDataCalendario(1, 0)">
              <i class="glyphicon glyphicon-chevron-up"></i>
            </a>
            <label class="agendamento-subheader agendamento-link text-capitalize" ng-model="vm.calendario.calendarView" uib-btn-radio="'year'">
              {{ vm.calendario.date.toLocaleDateString('pt-br', {month: 'long'})   }}
            </label>
            <a class="agendamento-cal-link" ng-click="vm.alterarDataCalendario(-1, 0)">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </a>
          </div>
          <div class="flex-col padding-left">
            <a ng-click="vm.alterarDataCalendario(0, 1)">
              <i class="glyphicon glyphicon-chevron-up"></i>
            </a>
            <label class="agendamento-subheader agendamento-link text-capitalize" ng-model="vm.calendario.calendarView" uib-btn-radio="'year'">
              {{ vm.calendario.date.getFullYear() }}
            </label>
            <a ng-click="vm.alterarDataCalendario(0, -1)">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </a>
          </div>
        </div>

        <hr class="divider divider-bordered"/>
        <div>

          <mwl-calendar
            ng-class="{'agendamento-liberado': vm.formReagendar || vm.ultimoAgendamento.id_situacao == vm.SituacaoConstante.AGENDAMENTO_LIBERADO}"
            template-scope="vm"
            view="vm.calendario.calendarView"
            view-title="vm.calendario.calendarTitle"
            view-date="vm.calendario.date"
            events="vm.calendario.events"
            on-view-change-click="vm.calendario.viewChangeClicked(calendarNextView)"
            on-timespan-click="vm.calendario.timespanClicked(calendarDate, calendarCell)"
            cell-is-open="vm.calendario.isOpen"
          >
          </mwl-calendar>

        </div>
      </div>

    </div>
  </div>

  <hr class="divider"/>

</perfect-scrollbar>
