@import "../../../scss/common"; // Talvez você precise alterar este destino

#agendamento-form {

  position: relative;
  padding-right: 30px;

  .titulo-mensagem {
    height: auto !important;
  }

  .agendamento-disciplina {
    padding: 10px 0;
  }

  .agendamento-disciplina + .agendamento-disciplina {
    border-top: 1px solid #ddd;
  }

  .agendamento-subheader {
    display: block;
    font-size: 1.6rem;
  }

  .agendamento-link {
    cursor: pointer;
    text-decoration: underline;
  }

  .agendamento-cal-link {
    display: block;
  }

  .agendamento-table {
    margin: 0 0 0 30px;
  }

  .agendamento-legenda {
    td {
      padding: 2px 10px !important;
    }

    td:last-child {
      border-bottom: 1px solid $cinza-txt;
      width: 30px;
    }

    &.azul {
      td:first-child {
        background-color: $azul-bg-light;
        color: $azul-txt;
      }
      td:last-child {
        background-color: $azul-bg;
        border-color: $azul-txt;
      }
    }

    &.vermelho {
      td:first-child {
        background-color: $vermelho-bg-light;
        color: $vermelho-txt;
      }
      td:last-child {
        background-color: $vermelho-bg;
        border-color: $vermelho-txt;
      }
    }

    &.cinza {
      td:first-child {
        background-color: $cinza-bg-light;
        color: $cinza-txt;
      }
      td:last-child {
        background-color: $cinza-bg;
        border-color: $cinza-txt;
      }
    }
  }

  // CALENDARIO CSS
  mwl-calendar {

    &.agendamento-liberado {
      .badge-important {
        border: 1px solid $azul-txt;
        background-color: $azul-bg;
        color: $azul-txt;
      }
    }

    #cal-week-box {
      display: none;
    }

    .cal-row-head > * {
      color: transparent;
      line-height: 0;
      font-size: 0;
    }

    .cal-row-head > *:first-letter {
      color: $preto !important;
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
    }

    .cal-cell {
      span {
        color: $preto !important;
        display: block;
        float: none !important;
        font-size: 16px;
        margin: 0;
        opacity: .8;
        padding: 15px;
        white-space: nowrap;
        z-index: 2;
      }
    }

    .cal-year-box .cal-cell,
    .cal-month-box .cal-cell,
    .cal-month-day {
      min-height: 0;
      height: auto;
    }

    .cal-day-today {
      background-color: transparent;
    }

    .cal-day-tick {
      border: 1px solid $cinza-3;
      border-bottom: 0;
      border-radius: 4px 4px 0 0;
      margin-top: -2px;
      transform: translateY(-100%);
    }

    .cal-year-box {
      .calendario-agendamentos,
      .cal-day-tick {
        display: none !important;
      }
    }

    .cal-month-day {
      position: relative;
      padding-bottom: 100%;

      &.cal-day-inmonth {
        background-color: $cinza-2;
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }

    .cal-events-num {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px 5px 0 0;
    }

    // Configuracoes status dia

    .events-list {
      position: static;
    }

    .event {
      &.agendamento-status-disponivel:after,
      &.agendamento-status-agendado:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        height: 100%;
        width: 100%;
      }

      &.agendamento-status-disponivel:after {
        background-color: $azul-bg;
      }

      &.agendamento-status-agendado:after {
        background-color: $vermelho-bg;
      }
    }

    .calendario-agendamentos {
      table {
        background-color: $cinza-3;
        margin: 0;
      }

      th, td {
        font-size: 12px;

        &:not(.text-left) {
          text-align: center;
        }
      }
      th:empty, td:empty {
        padding: 0;
        width: 0;
      }
    }

    .agendamento-actions {
      background-color: $cinza-2;
      padding: 15px 0;
    }

  }

}
