<div class="row pc-title-class border-top-large">
  <div class="col-md-12">
    <div class="pull-left pc-title-class-icon">
      <i class="icon-icon_menu icon-icon_atend"></i>
    </div>
    <div class="pc-title-class-title-container">
      <h4 class="pc-title-class-title">Atendimento</h4>
      <p class="pc-title-class-description">Acompanhe suas solicitações de atendimento.</p>
    </div>
  </div>
</div>
<div class="row-list row">
  <div class="scroll-wrapper col-md-12">
    <p class="text-center" ng-show="!vm.loading && vm.chamados.length == 0" >Você não possui nenhum chamado criado.</p>
    <perfect-scrollbar class="scroll-wrapper ">
      <div class="list-group">
        <div class="lista-ocorrencia list-group-item" ng-repeat="ocorrencia in vm.chamados | orderBy: {'dt_ultimotramite': 'desc','dt_cadastro':'desc'}"
          ng-click="vm.visualizarOcorrencia($event, ocorrencia)" ui-sref="app.chamados.show({id_ocorrencia: ocorrencia.id_ocorrencia})"
          ng-class="{marked : vm.activeId === ocorrencia.id_ocorrencia}" target="_parent">
          <div class="animated slideInRight maxheight no-padding no-margin">
            <p class="list-group-item-heading">
              {{ocorrencia.st_assuntocopai | trim | sliceString:true:35:"..." | capitalize}}
              <small class="number">{{ocorrencia.id_ocorrencia}}</small>
            </p>
            <p class="list-group-item-text" ng-if="ocorrencia.dt_ultimotramite">
              {{ocorrencia.st_assuntoco}}
            </p>
            <p class="list-group-item-info" ng-if="ocorrencia.dt_ultimotramite">
              {{ ocorrencia.st_tramite | removeHtmlTags}}
            </p>
            <p class="list-group-item-info" ng-if="!ocorrencia.dt_ultimotramite">
              {{ ocorrencia.st_ocorrencia | removeHtmlTags}}
            </p>
            <p class="">
              <span class="list-group-item-info pull-left data-tramite" ng-if="ocorrencia.dt_ultimotramite">
                        Interagido em {{ocorrencia.dt_ultimotramite | asDate : 'dd.MM.yy HH:mm'}}
                        </span>
              <span class="oco-sit-{{ocorrencia.id_situacao}}  pull-right situacao">{{ocorrencia.st_situacao}}</span>
            </p>
          </div>
      </div>
  </div>
  </perfect-scrollbar>
</div>
</div>
