<div class="container-fluid scroll-wrapper container-disciplina-andamento">
  <div class="row scroll-wrapper">
    <!--Gif de carregando-->
    <img ng-if="pwCtrl.loading && pwCtrl.loadingGif" ng-src="{{pwCtrl.loadingGif}}" class="loading"/>
    <div class="col-md-12 col-sm-12 col-lg-12 scroll-wrapper">


      <!-- Gŕafico: ng-if somente se tivar ar_atividades no moodle-->
      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 padding container-grafico"  >
        <pw-chart mysize="big"
                  percent="pwCtrl.disciplina.ar_moodle.nu_percentualconcluido"
                  statuscomplete="pwCtrl.disciplina.st_statuscomplete"
                  statussala="pwCtrl.disciplina.id_status"
                  ng-if="pwCtrl.showChart" tooltip-placement="right" uib-tooltip="Porcentagem de Conclusão das Atividades">
        </pw-chart>
      </div>
      <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8 padding container-status">
        <h5>Situação da Disciplina</h5>
        <h4 class="status {{pwCtrl.disciplina.st_corstatus}}">{{pwCtrl.disciplina.st_status}}</h4>
        <p>
          <span  tooltip-placement="bottom" uib-tooltip="Nota na Disciplina"><i class="icon-icon_nota"></i> {{pwCtrl.disciplina.nu_notafinal ? pwCtrl.disciplina.nu_notafinal : '-'}}</span>
          <span tooltip-placement="bottom" uib-tooltip="Carga Horária da Disciplina"><i class="icon-icon_time"></i> {{pwCtrl.disciplina.nu_cargahoraria ? pwCtrl.disciplina.nu_cargahoraria+'h' : '-'}}</span>
        </p>
      </div>
    </div>
  </div>
</div>




