@import "../../../scss/common";
// Talvez você precise alterar este destino
@import "../../../scss/customize/variables";

.container-disciplina-andamento {
  //padding-top: 20px;
  //padding-bottom: 20px;

  .container-grafico {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-status {
    h4,
    h5 {
      margin: 0;
    }

    .status {
      margin-bottom: 10px;
      text-transform: uppercase;
      &.danger  {
        color: $brand-danger;
      }
      &.info {
        color: $brand-info;
      }
      &.warning {
        color: $brand-warning;
      }
      &.success {
        color: $brand-success;
      }
      &.neutro {
        color: $preto;
      }

    }

    p {
      span {
        display: inline-flex;
        align-items: center;
        &:first-child {
          margin-right: 10px;
        }
        i {
          font-size: ceil(($font-size-base * 1.3));
        }
      }
    }

  }

}


