.btn {
  @include border-radius($border-radius-base);
  &.btn-default {
    &:hover {
      background-color: $btn-default-color;
      color: $btn-default-bg;
    }
    &.btn-inverse {
      @include button-variant($btn-default-bg, $btn-default-color, $btn-default-border);
      &:hover {
        background-color: $btn-default-bg;
        color: $btn-default-color;
      }
    }
  }

  &.btn-primary {
    &:hover {
      background-color: $btn-primary-color;
      color: $btn-primary-bg;
    }
    &.btn-inverse {
      @include button-variant($btn-primary-bg, $btn-primary-color, $btn-primary-border);
      &:hover {
        background-color: $btn-primary-bg;
        color: $btn-primary-color;
      }
    }

    &.btn-login {
      @extend .btn-inverse;
      @extend .no-border-radius;
    }

  }

  &.btn-danger {
    &:hover {
      background-color: $btn-danger-color;
      color: $btn-danger-bg;
    }
    &.btn-inverse {
      @include button-variant($btn-danger-bg, $btn-danger-color, $btn-danger-border);
      &:hover {
        background-color: $btn-danger-bg;
        color: $btn-danger-color;
      }
    }
  }

  &.btn-success {
    &:hover {
      background-color: $btn-success-color;
      color: $btn-success-bg;
    }

    &.btn-inverse {
      @include button-variant($btn-success-bg, $btn-success-color, $btn-success-border);
      &:hover {
        background-color: $btn-success-bg;
        color: $btn-success-color;
      }
    }
  }

  &.btn-info {
    &:hover {
      background-color: $btn-info-color;
      color: $btn-info-bg;
    }
    &.btn-inverse {
      @include button-variant($btn-info-bg, $btn-info-color, $btn-info-border);
      &:hover {
        background-color: $btn-info-bg;
        color: $btn-info-color;
      }
    }
  }

  &.btn-warning {
    &:hover {
      background-color: $btn-warning-color;
      color: $btn-warning-bg;
    }
    &.btn-inverse {
      @include button-variant($btn-warning-bg, $btn-warning-color, $btn-warning-border);
      &:hover {
        background-color: $btn-warning-bg;
        color: $btn-warning-color;
      }
    }
  }
}

.btn-black {
  background-color: $btn-black-bg;
  color: $btn-black-color;
  border-color: $btn-black-border;
  &:focus,
  &:active,
  &[disabled]{
    background-color: $btn-black-bg;
    color: $btn-black-color;
    border-color: $btn-black-border;
  }
  &:hover{
    background-color: darken($branco, 95%);
  }
}