<div class="text-center" ng-if="vm.loading && vm.loadingGif">
  <img ng-src="{{vm.loadingGif}}"/>
</div>

<div ng-if="!vm.loading" class="container-fluid">
  <div class="row pc-title-class">
    <div class="col-xs-12 col-sm-8">
      <div class="pull-left pc-title-class-icon"><i class="icon-icon_mens"></i></div>
      <div class="pc-title-class-title-container">
        <p class="pc-title-class-title">Mensagens</p>
        <p class="pc-title-class-description">Verifique as suas mensagens.</p>
      </div>
    </div>
  </div>
</div>
<div ng-if="!vm.loading && vm.vmensagem.st_mensagem" class="container-fluid message-show">
  <div class="row autoheight">
    <div class="col-md-12">
      <div class="titulo-mensagem">
        <h1 class="title">{{vm.vmensagem.st_mensagem}}</h1>
        <div class="row desc">
          <div class="col-md-6">
            <span class="">{{vm.vmensagem.dt_enviar | asDate : 'dd/MM/yy'}}
            </span>
          </div>
          <div class="col-md-6">
            <button class="btn btn btn-link pull-right no-pad-top" ng-show="(vm.indexActive < (vm.vmensagens.length-1))" ng-click="vm.navegarMensagem((vm.indexActive +1))">próxima &gt;</button>
            <button class="btn btn btn-link pull-right no-pad-top" ng-show="(vm.indexActive > 0)" ng-click="vm.navegarMensagem((vm.indexActive -1))"> &lt; anterior</button>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="row autoheight">
    <div class="col-md-12">
      <div class="corpo-mensagem" ng-bind-html="vm.vmensagem.st_texto | parseHtml"></div>
    </div>
  </div>
</div>
