<div class="container-fluid scroll-wrapper">
  <div class="row chamado scroll-wrapper">
    <div class="col-md-8 col-sm-8 col-lg-8 no-padding visualizacao default-bg scroll-wrapper">
      <perfect-scrollbar class="scroll-wrapper">
          <div ui-view="chamados-show"></div>
      </perfect-scrollbar>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 no-padding scroll-wrapper chamado-list" >
    <pc-chamados-list class="scroll-wrapper " ></pc-chamados-list>
    </div>
  </div>
</div>
