@import "../../../scss/common";
@import "../../../scss/customize/variables";
.visualizacao {
    font-size: $font-size-default;
    background-color: $cinza-1;
    .container-promocoe {
        padding-left: 30px;
        padding-right: 30px;
        //background-color: $branco;
    }
    .header-promocoe {
        //height: 95px;
        padding: 33px 0px 0;
        .st_assuntocopai {
            font-size: $font-size-h3;
        }
        .st_assunto {
            margin-bottom: 3px;
            margin-top: 3px;
        }
        .st_evolucao {
            text-transform: uppercase;
        }
        .date {
            margin-right: 16px;
        }
    }

}

.promocao-show {
    padding: 0 $default-padding 0 75px;
    font-size: $font-size-small;
    //background-color: $branco;

    .titulo-promocao {
        width: 100%;
        height: 95px !important;
        position: relative;
        padding: 16px 0;
        border-bottom: 2px solid $default3;
        color: $cinza-6;

        .glyphicon {
            font-size: $font-size-h1;
            position: absolute;
            left: -75px;
            top: 30px;
            color: $cor-marca-11;
        }

        .title {
            margin-bottom: 10px;
            font-size: $font-size-h3;
        }

        .desc {
            font-size: $font-size-default;
        }
    }

    .corpo-promocao {
        // color: #A3A5A7;
        font-size: $font-size-small;
        padding: $default-padding 0;
    }
}
