@import "../../scss/common"; // Talvez você precise alterar este destino

#perfect-div {
        position: relative;
        height: inherit;
        overflow: auto;


}
// Customização da barra
#perfect-div::-webkit-scrollbar {
    width: 0.5em;
}

#perfect-div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#perfect-div::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
