<div class="container-fluid maxheight mobile-overflow">
  <!-- Row da tela inteira, quando obotao de toggle é clicado, ele recebe a class toggled que
          customiza o tamanho das colunas no arquivo toogle.scss
     -->
  <div class="row maxheight" ng-class="{'toggled' : wrapper.wrappertoggled}">
    <!-- Coluna da barra -->
    <div class="col-sm-3 col-lg-2 col-sidebar">
      <nav class="navbar navbar-custom navbar-fixed-side">
        <div class="container">
          <div class="navbar-header">
            <div class="navbar-brand">
              <img ng-cloak class="img-logo-topo" ng-src="{{wrapper.logoUrl}}" ng-if="!wrapper.wrappertoggled"/>
              <img ng-cloak class="img-logo-topo" ng-src="{{wrapper.logoUrlP}}" ng-if="wrapper.wrappertoggled"/>
              <!-- Icone de seta left so exibido quando nao tiver toggled-->
              <span class="glyphicon toogle" ng-class="{'glyphicon-triangle-left' :  wrapper.wrappertoggled == false}"
              ng-click="wrapper.onToggle()" aria-hidden="true"></span>
            </div>
            <div class="background-graphic-h"></div>
                <button class="navbar-toggle"   ng-click="wrapper.onToggle()"  data-toggle="collapse" data-target="#navbar" aria-expanded="false" >
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

          </div>
          <div>

          </div>
          <!-- MenuSideBar -->

          <menu-side-bar wrappertoggled="wrapper.wrappertoggled" ></menu-side-bar>
          <!-- MenuSideBar -->
        </div>

      </nav>
    </div>
    <!-- Coluna do conteudo -->
    <div class="col-sm-9 col-lg-10 maxheight no-padding col-content ">
      <!-- Barra superior -->
      <div class="container-fluid topbar">
        <div class="row">
          <div class="padding-left"
               ng-class="{'col-xs-7 col-md-7' : !wrapper.idSalaDeAula || !wrapper.hasProfessor ,'col-xs-6 col-md-6' : wrapper.idSalaDeAula && wrapper.hasProfessor}">
            <a class="titulo-curso pull-left"
               ui-sref="app.curso({idMatriculaAtiva: wrapper.dadosUsuario.id_matricula})">
              <span class="icon glyphicon glyphicon-home pull-left"></span>
                          <span class="text subtitulo">
                            {{wrapper.cursoAtivo.st_curso}}
                          </span>
            </a>
          </div>
          <div class="col-xs-5 col-md-2">
            <div class="titulo-posso-ajudar pull-right"
                 uib-popover-template="wrapper.novoAtendimentoPopover.template"
                 popover-title="{{wrapper.novoAtendimentoPopover.title}}" popover-placement="bottom-right"
                 popover-class="popoverAtendimento"
                 popover-is-open="wrapper.novoAtendimentoPopover.isOpen">
              <i class="icon-icon_atend"></i>
              Posso ajudar?
            </div>
          </div>
          <div class="col-xs-0  no-padding" id="container-identificacao"
               ng-class="{'col-md-3' : !wrapper.idSalaDeAula || !wrapper.hasProfessor ,'col-md-4' : wrapper.idSalaDeAula && wrapper.hasProfessor}">
            <div class="col-md-5" ng-if="wrapper.idSalaDeAula">
              <pw-disciplina-professor ng-if="wrapper.idSalaDeAula" id-matricula="wrapper.cursoAtivo.id_matricula"
                                       id-entidade="wrapper.cursoAtivo.id_entidade"
                                       id-saladeaula="wrapper.idSalaDeAula"
                                       has-professor="wrapper.hasProfessor" ></pw-disciplina-professor>
            </div>
            <div class="identificacao-aluno pull-right"
                 ng-class="{'':!wrapper.hasProfessor , 'col-md-7': wrapper.hasProfessor, 'logado-como': wrapper.dadosUsuario.id_usuariooriginal }">
              <div class="pull-left texts col-md-9" ng-click="wrapper.redirecionar('app.meusdados')">
                <p class="texto text-left nome">
                  <a ng-click="wrapper.redirecionar('app.meusdados')">
                    <strong ng-if="wrapper.dadosUsuario.id_usuariooriginal">
                      <span style="font-size: 80%"> {{wrapper.dadosUsuario.st_usuariooriginal | firstAndLast}}</span>
                      <span style="font-size: 70%"> como {{wrapper.dadosUsuario.st_nome | firstAndLast}}</span>
                    </strong>
                    <strong ng-if="!wrapper.dadosUsuario.id_usuariooriginal">
                      {{wrapper.dadosUsuario.st_nome | firstAndLast}}
                    </strong>
                  </a>
                </p>
                <p class="texto no-margin-all text-left email">
                  {{wrapper.dadosUsuario.st_email}}
                </p>
              </div>
              <div class="pull-right col-md-3">
                <img ng-src="{{wrapper.dadosUsuario.st_urlavatar}}" alt=""
                     class="img-circle img-avatar-mini pull-right"
                     ng-show="wrapper.dadosUsuario.st_urlavatar"/>
                                <span class="glyphicon icon-icon_pessoa2 avatar-fake img-circle pull-right"
                                      ng-if="!wrapper.dadosUsuario.st_urlavatar"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container do conteúdo-->
      <div id="content-wrapper" class="content-wrapper content-wrapper-height" ui-view="content"></div>
    </div>
  </div>
</div>

<!--  Template do Popover-->
<script type="text/ng-template" id="popover-atendimento.html">
  <div>
    <pw-abrir-atendimento></pw-abrir-atendimento>
  </div>
</script>
