@import "../../scss/common";
@import "../../scss/customize/variables";

.topbar {
  height: $topbar-height;
  box-shadow: 0 2px 1px $gray;
  margin-bottom: 4px;

  .titulo-curso {
    padding: 16px 0 0 16px;
    width: 100%;
    vertical-align: middle;
    display: inline-block;

    .text:hover {
      color: $cor-marca-4;
    }

    .text {
      padding-top: 2px;
      font-size: $font-size-large;
      @include text-lines($font-size-large, 1);
      color: $preto;
    }

    .icon {
      vertical-align: middle;
      margin-right: 6px;
      color: $cor-marca-4;
      font-size: $font-size-h4;
    }
  }

  .titulo-posso-ajudar {
    padding-top: 16px;
    padding-right: 20px;
    font-size: $font-size-default;
    cursor: pointer;

    i {
      color: $cor-marca-4;
      font-size: $font-size-h4;
      vertical-align: middle;
    }
  }
}

#container-identificacao {
  height: $topbar-height;
}

.identificacao-aluno {
  height: $topbar-height;
  //width: 230px;
  padding: 3px 10px;
  background-color: $cinza-8;
  border-left: 1px solid $cinza-3;

  .texts {
    //width: 155px;
  }

  .nome {
    color: $cor-marca-3;
    margin: 10px 0 0;
    font-size: $font-size-default;
    @include text-lines($font-size-default, 1);
  }

  .email {
  }

  .img-avatar-mini {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 2px solid $branco;
  }

  .icon-icon_pessoa2 {
    font-size: 50px;
  }
}
.logado-como {
  background-color: $default;
  .texts {
    color: $branco;
  }

  .nome {
    color: $branco;
    span {
      color: $branco;
    }
  }

  .email {
    color: $branco;
  }

  .img-avatar-mini {
    color: $branco;
  }

  .icon-icon_pessoa2 {
    color: $branco;
  }

}
    @media (max-width: $screen-xs-max) {
      .mobile-overflow {
        overflow: scroll;
        -webkit-overflow-scrolling:touch;

      }
      #container-identificacao {
        display: none;
      }
    }
